﻿@using STS.Application.Filters
@using STS.Application.Models.Admin
@using STS.Web.Extensions
@using STS.Web.Grid.Builders.Implementations

@model IFilterResult<QuestionItemViewModel>
@{
    Func<QuestionItemViewModel, object> actionsRender = (x) =>
    {
        var link = Url.Action("EditQuestion", "Admin", new { id = x.Id });
        var html = $"<a href='{link}' class='icon-edit'></a>";
        return html;
    };

    var grid = new GridBuilder<QuestionItemViewModel>()
        .Columns(cols =>
        {
            cols.Define(c => c.Text).RenderAs(x => x.Text)
                .Titled("Question Text").HasWitdh("50%").Sortable(false);

            cols.Define(c => c.YesAnswerPoints).RenderAs(c => c.YesAnswerPoints)
                .Titled("Yes Answer Points").HasWitdh("20%").Sortable(false);

            cols.Define(c => c.NoAnswerPoints).RenderAs(c => c.NoAnswerPoints)
                .Titled("No Answer Points").HasWitdh("20%").Sortable(false);

            cols.Define("Actions").RenderAs(actionsRender)
                .Titled("Edit").HasWitdh("10%").Sortable(false);
        })
        .EmptyText("No Questions")
        .Pagination(pg =>
        {
            pg.PagesToDisplay(5);
            pg.TotalPages(Model.TotalPages);
            pg.PageSizes(25, 50, 75, 100);
        })
        .Rows(Model.Items)
        .SetupByFilter(Model.Filter)
        .Build();
}

<div class="title-red">
    Total Questions: <b>@Model.TotalItems</b>
</div>

<div class="table-responsive">
    @Html.Partial("Grid/Grid", grid)
</div>

@if (grid.Pager != null)
{
    <div class="ajax-grid-pager">
        @Html.Partial(grid.Pager.PartialViewName, grid.Pager)
    </div>
}
