﻿.accomplishment {
    margin-bottom: 20px;

    &-title {
        color: $blue;
        line-height: normal;
        margin: 16px 20px;
        @include font-franklin(21px);

        span {
            color: $light-blue;
            text-transform: uppercase;
            display: block;
            font: normal 13px verdana;
            display: block;
        }
    }

    &-content {
        background: $light-blue;
        color: $white;
        padding: 13px 20px;
        min-height: 115px;

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &-item {
        border: 1px solid $light-blue;
        margin-bottom: 10px;

        &-levels {
            border-color: $red;

            .accomplishment-title {
                color: $gray;
                color: $red;
                text-transform: uppercase;
                margin-top: 9px;
                @include font-franklin(28px);

                span {
                    color: $gray;
                }
            }

            .accomplishment-content {
                background: $red;
            }
        }
    }

    &-levels {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        margin: 21px auto 6px;

        li {
            font-weight: bold;
            padding-top: 41px;
        }
    }

    &-steps {

        li {
            margin-top: 17px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
