.checkbox-toggle {

  .checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;

    + label {
      cursor: pointer;
    }

    &:not(checked) {
      position: absolute;
      opacity: 0;

      & + label {
        position: relative;
        padding: 0 0 0 60px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: -4px;
          left: 0;
          width: 50px;
          height: 26px;
          border-radius: 13px;
          background: $ultra-gray;
        }

        &:after {
          top: -2px;
          left: 2px;
          width: 22px;
          height: 22px;
          border-radius: 10px;
          background: $white;
          transition: all .2s;
        }
      }
    }

    &:checked + label:before {
      background: $light-blue;
    }
    &:checked + label:after {
      left: 26px;
    }
  }
}