﻿.datepicker {
    border: 1px solid $sand;
    margin-top: -8px;

    table {
        margin: 0 11px;


        tr {

            td {
                padding: 10px 7px;
                font-size: 12px;
                @include border-radius(0);

                &.day {

                    &:hover,
                    &.focused {
                        background: none;
                        position: relative;

                        &:before {
                            content: '';
                            display: block;
                            outline: 1px solid $red;
                            color: $red;
                            position: absolute;
                            top: 3px;
                            bottom: 3px;
                            left: 0;
                            right: 0;
                        }
                    }

                    &.today,
                    &.active,
                    &.today.active {
                        background: none;
                        color: $white;
                        position: relative;
                        text-shadow: none;

                        &:before {
                            content: '';
                            display: block;
                            background: $light-blue;
                            position: absolute;
                            top: 3px;
                            bottom: 3px;
                            left: 0;
                            right: 0;
                            z-index: -1;
                        }

                        &:hover {
                            background: none;
                            color: $white;

                            &:before {
                                content: '';
                                display: block;
                                background: $light-blue;
                                position: absolute;
                                top: 3px;
                                bottom: 3px;
                                left: 0;
                                right: 0;
                                z-index: -1;
                            }
                        }
                    }

                    &.today {

                        &:before {
                            background: $ultra-gray;
                        }

                        &:hover:before {
                            background: $ultra-gray;
                        }
                    }

                    &.old {
                        color: #bfbcb6;
                    }
                }

                span {
                    text-shadow: none;
                    @include border-radius(0);

                    &.focused,
                    &.active.active,
                    &.active:hover.active {
                        background: none;
                        color: $white;
                        position: relative;
                        text-shadow: none;

                        &:before {
                            content: '';
                            display: block;
                            background: $light-blue;
                            position: absolute;
                            top: 9px;
                            bottom: 9px;
                            left: 0;
                            right: 0;
                            z-index: -1;
                        }
                    }

                    &.active.active,
                    &.active:hover.active {

                        &:before {
                            background: $ultra-gray;
                        }
                    }

                    &:hover {
                        background: none;
                        position: relative;

                        &:before {
                            content: '';
                            display: block;
                            outline: 1px solid $red;
                            color: $red;
                            position: absolute;
                            top: 9px;
                            bottom: 9px;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }

            th {
                color: $light-blue;
                font-size: 12px;
                padding: 5px;
                @include border-radius(0);
                @include font-franklin(16px);

                &.datepicker-switch {

                    &:hover {
                        background: #f7fafc;
                    }
                }

                &.prev,
                &.next {
                    position: relative;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;

                    &:before {
                        content: '';
                        display: inline-block;
                        background: url(../images/icons.png) -38px 0 no-repeat;
                        height: 13px;
                        width: 8px;
                        margin-top: -7px;
                        margin-left: -4px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                    }

                    &:hover {
                        background: #f7fafc;
                    }
                }

                &.next {

                    &:before {
                        background-position: -18px -20px;
                        margin-left: 0;
                        left: auto;
                        margin-right: -4px;
                        right: 50%;
                    }
                }

                &.dow {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 12px;
                }
            }
        }
    }

    &-dropdown:before,
    &-dropdown:after {
        display: none;
    }
}
