﻿.dashboard {

    &-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 11px;

        @include media('<=992px') {
            justify-content: flex-start;
        }

        li {
            width: 181px;
            margin: 0 0 10px 0;
            width: 19%;

            @include media('<=992px') {
                width: 31%;
                margin-right: 10px;
            }

            @include media('<=tablet') {
                width: 48%;
            }

            @include media('<=600px') {
                width: 100%;
                margin-right: 0;
            }
        }

        &.supplier li {

            @include media('>992px') {
                width: 24%;
            }
        }

        &-item {
            background: $light-blue;
            color: $white;
            text-transform: uppercase;
            display: block;
            display: flex;
            align-items: center;
            height: 50px;
            padding: 6px 35px 7px 60px;
            line-height: 16px;
            border: 1px solid $light-blue;
            position: relative;
            @include font-franklin(14px);

            &:before {
                content: '';
                display: inline-block;
                background: $white;
                height: 100%;
                width: 48px;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                content: '';
                display: inline-block;
                background: url(../images/icons-dashboard.png) 0 0 no-repeat;
                width: 28px;
                height: 26px;
                position: absolute;
                top: 50%;
                left: 9px;
                transform: translateY(-50%);
            }

            &.users:after {
                background-position: 0 0;
            }

            &.suppliers:after {
                background-position: 0 -33px;
                width: 32px;
            }

            &.reporting:after {
                background-position: 0 -66px;
                height: 23px;
            }

            &.mapping:after {
                background-position: 0 -101px;
                width: 30px;
                height: 28px;
            }

            &.sustainability:after {
                background-position: 0 -528px;
                width: 26px;
                height: 22px;
            }

            &.resource:after {
                background-position: 0 -139px;
                height: 28px;
            }

            &.accomplishments:after {
                background-position: 0 -179px;
                width: 30px;
                height: 30px;
            }

            &.levels:after {
                background-position: 0 -220px;
                width: 32px;
            }

            &.certifications:after {
                background-position: 0 -261px;
                width: 27px;
                height: 30px;
            }

            &.recorders:after {
                background-position: 0 -483px;
                height: 30px;
            }

            &.documents:after {
                background-position: 0 -344px;
                height: 30px;
            }

            &.status:after {
                background-position: 0 -389px;
                height: 30px;
            }

            &.future:after {
                background-position: 0 -433px;
                height: 30px;
            }

            &:hover,
            &:focus,
            &:active,
            &:active:focus,
            &.active:focus,
            &:active.focus,
            &.active.focus {
                background: $red;
                border-color: $red;
                color: $white;
                text-decoration: none;
                padding: 6px 84px 7px 11px;

                &:before {
                    display: none;
                }

                &:after {
                    background-position: 0 -468px;
                    width: 12px;
                    height: 10px;
                    left: auto;
                    right: 10px;
                }
            }
        }
    }

    &-content {
        padding: 12px 20px;

        h3 {
            text-transform: uppercase;
        }
    }
}
