﻿.edit-form {
    background: $white;
    border: 1px solid $sand;
    margin-bottom: 21px;
    padding-bottom: 9px;

    &-wr {
        max-width: 1000px;
        margin: 0 auto 70px;

        .readonly {
            pointer-events: none;
        }
    }

    &-inner {
        border-bottom: 12px solid $red;
        padding-bottom: 19px;
    }

    &-content {
        padding: 30px;
    }

    .title {
        margin: 10px 0 18px;
        padding: 10px 51% 8px 0;
        position: relative;
        @include font-franklin(18px);

        @include media('<=tablet') {
            padding-right: 20%;
        }

        &:first-child {
            margin-top: 0;
        }

        span {
            padding: 7px 10px;
            text-transform: none;
        }

        .btn {
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 18px;
            text-transform: none;
            padding: 6px 19px 6px;

            @include media('<=tablet') {
                position: static;
                left: 0;
                margin: 10px 0 0;
            }
        }
    }

    &-block {
        margin: 1px 25px;
        font-size: 14px;
    }

    .form-group {

        label {
            display: block;
            font-size: 13px;
            white-space: nowrap;

            + textarea {
                margin-top: 18px;
            }
        }
    }

    .has-error {
        label {
            color: #af292e;
        }
    }

    .form-control {
        padding: 18px 1px 6px;
        font-size: 14px;
    }

    .form-control-no-label {
        padding-top: 5px;
    }


    .label-radio {
        margin-top: 4px;
        margin-bottom: 17px;
    }

    .upload-file {
        text-align: center;
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .input-file {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .chosen-container {
        font-size: 14px;
        margin: 0;
        padding: 17px 0 0;
        border-bottom: 1px solid $sand;

        &-active {
            border-color: $light-blue;
        }

        .chosen-single {
            border: 0;
            padding: 0;
            height: 29px;

            div b {
                margin-top: -6px;
                right: 0;
            }
        }

        .chosen-drop {
            border-color: $sand;
        }
    }

    .f-blue {
        margin-top: -13px;
        margin-bottom: 16px;
    }

    .note {
        text-decoration: underline;
        margin-top: -6px;

        &:hover {
            text-decoration: none;
        }

        &:before {
            left: 16px;
        }
    }

    .lead-note{
        margin-top: 0px; 
        padding-top: 20px; 
        padding: 14px 20px 14px 51px;
    }

    .checkbox-toggle {
        margin: 7px 0 28px;

        label {
            font-size: 14px;
            font-weight: normal;
        }

        .checkbox:not(checked) + label {
            padding-right: 52px;
        }
    }

    &-btns {
        margin-bottom: 30px;

        .btn {
            width: 100%;
            display: block;
            text-transform: none;
            @include font-franklin(18px);
        }
    }

    &-survey-status {

        .label-radio {
            margin-bottom: 6px;
        }
    }

    .j-datepicker {
        position: relative;

        input {
            padding-right: 25px;
        }

        &:after {
            content: '';
            display: inline-block;
            background: url(../images/icons.png) no-repeat -22px -40px;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 12px;
            pointer-events: none;
        }

        &.has-error:after {
            background-position: -26px -186px;
        }
    }
}
