.footer {
    background: $dark-gray;
    color: $gray;
    font-size: 14px;
    padding: 12px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;

    @include media('<=tablet') {
        height: 79px;
    }

    .nav-pills {
        float: right;
        text-align: right;

        @include media('<=tablet') {
            float: none;
            text-align: left;
            margin-top: 15px;
        }

        > li {

            > a {
                padding: 0 15px 0 27px;

                @include media('<=tablet') {
                    padding: 0 25px 0 0;
                }

                &:hover,
                &:focus {
                    background: none;
                    color: $white;
                }
            }
        }
    }
}
