.form {

    &-group {
        position: relative;
        font-size: 14px;

        label {
            color: $smoky;
            text-transform: uppercase;
            font-weight: normal;
            position: absolute;
            bottom: 13px;
            transition: color, bottom .3s ease-in-out;

            span {
                text-transform: none;
            }
        }

        &.focused {

            label {
                color: $light-blue;
                display: block;
                bottom: auto;
            }
        }

        &.has-error {

            label {
                display: block;
                color: $red;
                bottom: auto;
                top: 0;
            }

            .form-control {
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                }

                &[disabled],
                &[readonly],
                fieldset[disabled] & {
                    background: inherit;
                }
            }
        }
    }

    &-control {
        border: 0;
        border-bottom: 1px solid $ultra-gray;
        box-shadow: none;
        padding: 22px 1px 10px;
        height: 47px;
        font-size: 16px;
        background: transparent;
        @include border-radius(0);

        &:focus {
            border-color: $light-blue;
            box-shadow: none;
        }

        &[disabled],
        &[readonly],
        fieldset[disabled] & {
            background: none;
            cursor: default;
        }
    }
}
