.header {
    background: $blue;
    height: 64px;

    &-logo {
        display: block;
        /*background: url(../images/logo.png) 0 0 no-repeat;*/
        width: 222px;
        height: 46px;
        margin: 10px 0 0;
    }

    .navbar {
        margin-bottom: 0;
        max-width: 60%;
    }

    .nav {
        font-size: 14px;

        > li {
            border-left: 1px solid #195689;
            margin: 16px 0 10px;

            @include media('<=992px') {
                display: none;
            }

            &:first-child {
                border: 0;
            }

            &:last-child {

                @include media('<=992px') {
                    display: block;
                    border: 0;
                }
            }

            a,
            span {
                display: block;
                padding: 7px 17px;

                &:hover,
                &:active,
                &:focus {
                    background: none;
                    text-decoration: none;
                    color: $light-blue;
                    outline: none;
                }
            }

            a {
                text-decoration: underline;
            }

            &.active a {
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    cursor: default;
                    text-decoration: none;
                    outline: none;
                }
            }

            span {
                color: $white;

                &:hover,
                &:focus {
                    cursor: default;
                    color: $white;
                }
            }

            .icon-logout {
                padding: 3px 20px;

                &:before {
                    background: url(../images/icons.png) 0 0 no-repeat;
                    height: 20px;
                    width: 20px;
                    position: relative;
                }

                &:hover {

                    &:before {
                        opacity: .5;
                    }
                }
            }
        }
    }

    &-select {

        span {
            margin-right: 7px;
        }

        .chosen-container {
            width: 235px !important;
        }
    }
}
