.c-levels {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;

    &-wr {
        width: 100%;
        margin: 3px 0 0;
        overflow-y: auto;
        padding-top: 7px;
    }

    &-item {
        position: relative;
        color: $gray;
        text-align: center;
        width: 100%;
        min-width: 117px;
        padding: 0 5px;
        text-decoration: none!important;

        &:before {
            content: '';
            display: inline-block;
            background: $green;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 18px;
            left: -50%;
        }

        &:first-child:before,
        &:first-child .c-levels-item-check:before {
            display: none;
        }

        span {
            display: block;
            text-transform: uppercase;
            color: $green;
            line-height: 15px;
            margin-bottom: 5px;
        }

        &-check {
            border: 2px solid $green;
            width: 37px;
            height: 37px;
            padding: 4px;
            display: block;
            margin: 0 auto 6px;
            background: $white;
            position: relative;
            z-index: 3;
            @include border-radius(50%);

            &:before {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4.5px 0 4.5px 7px;
                border-color: transparent transparent transparent $green;
                margin-top: -4px;
                position: absolute;
                top: 50%;
                left: -8px;
            }

            span {
                display: block;
                width: 100%;
                height: 100%;
                background: $green;
                position: relative;
                @include border-radius(50%);

                &:before {
                    content: '';
                    display: inline-block;
                    background: url(../images/icons.png) no-repeat -34px -271px;
                    width: 14px;
                    height: 11px;
                    position: absolute;
                    margin-top: -6px;
                    margin-left: -7px;
                    top: 50%;
                    left: 50%;
                }
            }

            .c-levels-item-disable & {
                border-color: #acacac;

                &:before {
                    border-color: transparent transparent transparent #acacac;
                }

                span {
                    background: #c5c5c5;

                    &:before {
                        background-position: 0 -273px;
                        width: 11px;
                        height: 15px;
                        margin-top: -8px;
                        margin-left: -5.5px;
                    }
                }
            }
        }

        &:hover {
            text-decoration: none;
            color: $green;
        }

        &.active {
            color: $green;

            .c-levels-item-check {
                width: 50px;
                height: 50px;
                border-width: 4px;
                margin-top: -7px;

                &:before {
                    left: -10px;
                }

                span {
                    background: none;
                }

                &-disable {
                    border-color: #c5c5c5;
                }
            }
        }

        &-disable {

            &:before {
                background: #c5c5c5;
            }

            .c-levels-item-check {
                border-color: #c5c5c5;
            }

            &.next {
                .c-levels-item-check {
                    background: #c5c5c5;
                    border-color: #acacac;
                }
            }

            &.active,
            span,
            &:hover {
                color: #c5c5c5;
            }
        }
    }

    &-description {

        &-item {
            padding: 21px 45px 12px 52px;
            line-height: 22px;
            border-top: 1px dashed #eae9e5;

            &:first-child {
                border: 0;
                padding: 11px 45px 13px 52px;
            }
        }

        &-title {
            font-weight: bold;
            color: $light-blue;
        }

        &-text {
            padding-left: 36px;

            p {
                margin: 0 0 8px 0;
            }

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }

            .icon {
                margin-bottom: 8px;
            }
        }
    }
}
