.modal {
    font-size: 14px;

    &-dialog {

        @include media ('>=tablet') {
            width: 491px;
        }
    }

    &-content {
        @include border-radius(0);
    }

    &-scrollbox {
        max-height: 580px;
        overflow-y: auto;
    }

    &-header {
        padding: 0;
        border: 0;
    }

    &-title {
        background: $red;
        color: $white;
        text-transform: uppercase;
        padding: 6px 18px 5px;
        margin: 16px 9% 5px 0;
        @include font-franklin(19px);
    }

    &-body {
        padding: 0 22px 10px;
        font-size: 13px;
        line-height: 21px;

        h3 {
            margin: 18px 0 5px;
            color: $red;
            @include font-franklin(19px);
        }

        p {
            margin-bottom: 7px;
        }
    }

    &-footer {
        padding: 20px 25px 14px;
        box-shadow: 0 0 18px rgba(128, 126, 121, .5);
    }

    &-footer-text {
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &-backdrop {
        background: rgba(54, 54, 54, .8);
    }

    .btn {
        width: 100%;
        @include font-franklin(18px);
        margin-bottom: 10px;
    }
    // TODO: use media
    .modal-simple {
        padding-top: 210px;
    }

    &-relative {
        position: absolute;
        display: block;
        
        &-backdrop {
            background: rgba(0, 0, 0, .2);
        }

        .modal-dialog {
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                position: absolute;
                z-index: 4;
            }

            &:after {
                content: '';
                display: block;
                width: 8px;
                height: 12px;
                transform: rotate(45deg);
                position: absolute;
                z-index: 2;
                box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
            }
        }

        &-left {
            .modal-dialog:before {
                border-width: 6px 0 6px 6px;
                border-color: transparent transparent transparent #ffffff;
                top: 50%;
                left: 100%;
                margin-top: -6px;
            }

            .modal-dialog:after {
                top: 50%;
                left: 100%;
                margin-top: -5px;
                margin-left: -5px;
            }
        }

        &-right {
            .modal-dialog:before {
                border-width: 6px 6px 6px 0;
                border-color: transparent #ffffff transparent transparent;
                top: 50%;
                right: 100%;
                margin-top: -6px;
            }

            .modal-dialog:after {
                top: 50%;
                right: 100%;
                margin-top: -5px;
                margin-right: -8px;
            }
        }

        &-top {
            .modal-dialog:before {
                border-width: 6px 6px 0 6px;
                border-color: #ffffff transparent transparent transparent;
                top: 100%;
                left: 50%;
                margin-left: -3px;
            }

            .modal-dialog:after {
                width: 8px;
                height: 12px;
                top: 100%;
                left: 50%;
                margin-top: -7px;
                margin-left: 0px;
            }
        }

        &-none {
            .modal-dialog:before {
                border-width: 0px;
                border-color: transparent;
                
            }

            .modal-dialog:after {
                width: 0px;
                height: 0px;
            }
        }

        &-bottom {
            .modal-dialog:before {
                border-width: 0 6px 6px 6px;
                border-color: transparent transparent #ffffff transparent;
                bottom: 100%;
                left: 50%;
                margin-left: -3px;
            }

            .modal-dialog:after {
                width: 8px;
                height: 12px;
                top: 0;
                left: 50%;
                margin-top: -5px;
                margin-left: -2px;
            }
        }

        .modal-dialog {
            max-width: 220px;
        }

        .modal-content {
            padding: 20px 20px 10px;
            font-size: 13px;
            border: 0;
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
            z-index: 3;
        }

        .modal-body {
            color: $red;
            padding: 0 0 20px;
            font-size: 14px;
            text-align: center;
        }

        .modal-footer {
            border: 0;
            box-shadow: none;
            padding: 0;
        }

        .btn {
            text-transform: none;
            font-size: 14px;
            margin: 0;

            &:before,
            &:after {
                display: none;
            }
        }
    }
}
