﻿.moreinfo {

    &-wr {
        width: 80%;
        margin: 20px auto;
    }

    &-title {
        color: $hover-blue;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        margin: 11px 0 19px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #b1cee3;
            vertical-align: middle;
            position: relative;
            z-index: -1;
        }

        &:before {
            right: 20px;
            margin: 0 0 0 -100%;
        }

        &:after {
            left: 20px;
            margin: 0 -100% 0 0;
        }
    }

    .icon-certificate {
        color: $light-blue;
        display: inline-block;
        padding-left: 27px;
        font-weight: bold;
        margin: 0;
    }
}