.nav-left {
    max-width: 252px;
    background: $light-blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;

    &-menu {
        border-bottom: 1px solid $dark-blue;

        &-collapse {
            display: block;
            padding: 26px 20px;
            height: 63px;
            width: 100%;
            cursor: pointer;
        }

        &-btn {
            display: inline-block;
            width: 20px;
            height: 12px;

            span {
                background: #fff;
                position: relative;
                margin: 6px 0 0;
                display: block;
                width: 100%;
                height: 2px;
                transition: all .3s;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -o-transition: all .3s;
                backface-visibility: hidden;


                &:before,
                &:after {
                    content: "";
                    background: #fff;
                    width: 100%;
                    height: 2px;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -o-transition: all .3s;
                    backface-visibility: hidden;
                    position: absolute;
                    left: 0;
                }

                &:before {
                    top: -6px;
                }

                &:after {
                    top: 6px;
                }
            }
        }
    }

    &-link {
        display: block;
        color: $white;
        text-transform: uppercase;
        font-size: 13px;
        padding: 17px 0 17px 57px;
        border-left: 3px solid transparent;
        position: relative;
        min-height: 50px;

        &:hover,
        &:focus,
        &.active,
        &:active,
        &:active:focus,
        &.active:focus,
        &:active.focus,
        &.active.focus {
            background: $dark-blue;
            border-left: 3px solid $white;
            text-decoration: none;
            color: $white;
            outline: none;
        }

        span {
            display: none;
            margin-right: 15px;

            .open & {
                display: inline;
            }
        }

        &:before {
            content: '';
            display: inline-block;
            height: 21px;
            width: 20px;
            background: url(../images/icons-nav-left.png) 0 0 no-repeat;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            left: 17px;
        }

        &.admin {
            &:before {
                background-position: 0 0;
            }
        }

        &.user {
            &:before {
                background-position: 0 -48px;
            }
        }

        &.suppliers {
            &:before {
                background-position: 0 -99px;
            }
        }

        &.manage-sustainability {
            &:before {
                background-position: -1px -158px;
            }
        }

        &.reporting {
            &:before {
                background-position: 0 -216px;
            }
        }

        &.sustainability {
            &:before {
                background-position: 0 -721px;
                width: 21px;
            }
        }

        &.mapping {
            &:before {
                background-position: 0 -275px;
                height: 18px;
            }
        }

        &.resource {
            &:before {
                background-position: 0 -332px;
            }
        }

        &.accomplishment {
            &:before {
                background-position: 0 -365px;
            }
        }

        &.steps {
            &:before {
                background-position: 0 -420px;
                height: 15px;
            }
        }

        &.certifications {
            &:before {
                background-position: -1px -467px;
                ;
            }
        }

        &.recorders {
            &:before {
                background-position: 0 -777px;
                width: 18px;
                height: 22px;
            }
        }

        &.document {
            &:before {
                background-position: 0 -567px;
            }
        }

        &.status {
            &:before {
                background-position: 0 -617px;
            }
        }

        &.future {
            &:before {
                background-position: 0 -666px;
            }
        }
    }

    &-open {
        padding-left: 60px;
        min-width: 420px;

        .nav-expanded & {
            padding-left: 252px;
            min-width: 612px;
        }
    }

    &.open {
        .nav-left-menu-btn span {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

            &:before {
                -ms-transform: translate(0,7px) rotate(90deg);
                -webkit-transform: translate(0,7px) rotate(90deg);
                transform: translate(0,7px) rotate(90deg);
            }

            &:after {
                -ms-transform: translate(0,-7px) rotate(90deg);
                -webkit-transform: translate(0,-7px) rotate(90deg);
                transform: translate(0,-7px) rotate(90deg);
            }
        }
    }
}
