.panel {
    box-shadow: none;

    &-group & {
        margin-top: 5px;
        border: 0;
        border-top: 1px dashed #eae9e5;
        @include border-radius(0);

        + .panel {
            margin-top: 0;
        }
    }

    &-group {
        font-size: 14px;

        .panel:first-child {
            border: 0;
        }
    }

    &-default {

        .panel-heading {
            border: 0;
            background: #fafafa;
            padding: 12px 0 12px 58px;
        }
    }

    &-body {
        padding: 0;
        font-size: 12px;
        border: 0;
    }

    &-title {
        font-weight: normal;
        color: $gray;
        @include font-franklin(18px);

        a {
            color: $dark-blue;
            position: relative;


            &:after {
                content: '';
                display: inline-block;
                background: url('../images/icons.png') no-repeat -34px -242px;
                width: 14px;
                height: 8px;
                margin-top: -4px;
                position: absolute;
                top: 50%;
                left: 106%;
            }

            &[aria-expanded="true"]:after {
                background-position: -34px -255px;
            }

            &:hover,
            &:focus,
            &:active,
            &:active:focus,
            &.active:focus,
            &:active.focus,
            &.active.focus {
                text-decoration: none;
                color: $dark-blue;
                outline: none;
            }
        }
    }

    &-collapse {
        background: #fafafa;

        .title {
            margin-bottom: 0;
            background: #acacac;

            span {
                background: $white;
                color: #acacac;
                margin-left: 2px;
            }

            .btn {
                border-color: $white;
                color: $white;
                background: #bbbbbb;

                &.back:before {
                    background-position: -42px -131px;
                }

                &.next:after {
                    background-position: -42px -147px;
                }
            }

            &.current {
                background: $green;

                span {
                    color: $green;
                }

                .btn {
                    background: #7cae7d;
                }
            }
        }

        .panel-body {
            border: 0 !important;
        }

        .subtitle {
            text-transform: uppercase;
            color: $hover-blue;
            font-size: 13px;
            padding: 20px 45px 7px 58px;
            font-weight: normal;
        }
    }
}
