﻿.pagination {
    margin: 0;
    float: right;
    @include border-radius(0);

    @include media('<tablet') {
        float: left;
        margin-top: 20px;
    }


    > li {
        > a,
        > span {
            border: 1px solid $sand;
            font-size: 12px;
            color: $gray;
            padding: 6px 11px;
            @include border-radius(0);

            &:first-child,
            &:last-child {
                @include border-radius(0);
            }

            &:hover,
            &.active {
                color: white;
                background: $light-blue;
            }
        }
    }

    &-prev,
    &-next {

        &:before {
            content: '';
            display: block;
            background: url(../images/icons.png) no-repeat -38px 0;
            height: 13px;
            width: 8px;
            margin: 2px 0;
        }

        &:hover {
            &:before {
                background-position: -38px -13px;
            }
        }
    }

    &-next {
        &:before {
            background-position: -18px -20px;
        }

        &:hover {
            &:before {
                background-position: -26px -20px;
            }
        }
    }
}
