﻿input {

    &[type=radio] {
        position: absolute;
        clip: rect(0, 0, 0, 0);

        &:checked + label {

            &:before {
                background: url(../images/icons.png) -26px -104px no-repeat;
                border: 0;
            }
        }

        &:disabled + label {

            &:hover:before {
                border-color: $sand;
            }
        }
    }
}

.label-radio {
    cursor: pointer;
    text-transform: none;
    font-size: 14px;
    color: $gray;
    font-weight: normal;

    &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid $sand;
        position: relative;
        top: 4px;
        margin-right: 6px;
        @include border-radius(50%);
    }

    &:hover:before {
        border-color: $light-blue;
    }
}
