.signup {
    width: 54%;
    max-width: 530px;
    margin: 2% auto;
    background: $white;
    padding-bottom: 10px;
    font-size: 14px;

    @include media('<=tablet') {
        width: 100%;
        margin: 10% auto;
    }

    &-form {
        width: 68%;
        margin: 0 auto;

        .form-control {
            height: auto;
        }
    }

    &-body {
        padding: 36px 0 0;
        border-bottom: 12px solid $red;
    }

    &-help {
        display: inline-block;
        margin: 11% 0 4%;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &-btn {
        margin-top: 30px;
    }

    .checkbox-toggle {
        margin: 13px 0 20px;
    }

    .btn {
        display: block;
        width: 100%;
        margin-bottom: 18%;
        @include font-franklin(21px);
    }

    label {
        font-weight: normal;
    }
}
