.survey {
    font-size: 12px;
    line-height: 20px;
    padding: 0 40px 20px;

    &-wr {
        border-left: 1px solid $sand;
        border-right: 1px solid $sand;
        position: relative;
        margin: -4px -1px 0;
    }

    &-page {
        border-left: 1px solid $sand;
        border-right: 1px solid $sand;
        background: $white;
        max-width: 1200px;
        margin: 0 auto;
        height: 90vh;

        .title-red {
            margin: 20px 0 16px;
            padding: 8px 40px;
            width: 67%;
            @include font-franklin(18px);
        }
    }

    img {
        margin: 0 8px 5px;
    }

    .btn {
        width: 100%;
        margin: 6px 0;
        text-transform: none;
        @include font-franklin(18px);

        &:after {
            content: '';
            display: inline-block;
            background: url(../images/icons.png) no-repeat -26px -20px;
            height: 13px;
            width: 8px;
            margin-left: 10px;
        }
    }

    .btn.no-arrow {
        width: 100%;
        margin: 6px 0;
        text-transform: none;
        @include font-franklin(18px);

        &:after {
            content: none;
            background: none;
        }
    }
}
