﻿.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    > li {
        width: 20%;
        text-align: center;

        @include media('<desktop') {
            width: auto;
        }

        &:last-child {

            > a {
                margin-right: 0;
            }
        }

        > a {
            border-color: $light-blue;
            border-bottom: 0;
            color: $light-blue;
            background: $note-blue;
            text-transform: uppercase;
            padding: 14px;
            margin-right: 5px;
            @include border-radius(0);
            @include font-franklin(14px);

            &:hover,
            .active & {
                border-color: $sand;
                color: $hover-blue;
                background: $white;
            }
        }

        &.active {

            > a {
                color: $hover-blue;

                &:hover {
                    color: $hover-blue;
                }
            }
        }
    }
}

.tab {

    &-content {
        background: $white;
        border: 1px solid $sand;
        border-top: 0;
        font-size: 12px;

        h2 {
            text-align: center;
            margin-bottom: 25px;

            &.text-left {
                text-align: left;
            }
        }

        a {
            text-decoration: underline;
        }

        .edit-form {
            padding: 17px 29px;
            margin-bottom: 10px;
            background: $page-gray;
            border: 1px solid #eae9e5;

            .icon-add {
                display: inline-block;
                margin-top: 8px;
            }
        }

        .status-time {
            float: right;

            @include media('<992px') {
                float: left;
                margin-bottom: 20px;
            }
        }

        .percentage-span {
            padding: 0 15px;
        }

        .percentage-input {
            max-width: 100px;
        }

        .icon-certificate-title {
            padding-left: 50px;
        }

        &.edit-form .tab-pane {
            border-bottom: 12px solid #af292e;
        }
    }

    &-pane {
        background: $white;
        padding: 20px 30px 30px;

        &.j-custom-scroll {
            padding: 0;

            .mCSB_inside > .mCSB_container {
                padding: 20px 30px 30px;
                margin: 0;
            }
        }

        .ajax-grid-pager{
            padding-bottom: 56px;
        }


        .acheivement-item {
            border-bottom: 1px dashed $sand;
            padding: 20px 0 10px;
            display: flex;
            align-items: stretch;
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 15px;
            padding-right: 15px;

            @include media ('<tablet') {
                display: block;
            }

            &-block {
                display: block;
            }

            label {
                font-weight: normal;
            }
        }

        .acheivement-dashed {
            border-bottom: 1px dashed $sand;
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .acheivement-number {
            color: $light-blue;
            margin-top: 21px;
        }

        .acheivement-del {
            border-left: 1px solid $sand;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
            margin-bottom: 13px;
            width: 50px;

            @include media ('<tablet') {
                display: block;
                border: 0;
                width: 100%;
            }

            .icon-trash {
                left: 5px;
            }

            button:focus {
                outline: none;
            }
        }

        .acheivement-status-label {
            position: relative;

            span {
                opacity: .6;
                position: absolute;
                top: 100%;
                left: 15px;
                width: 80%;

                @include media ('<992px') {
                    position: static;
                }
            }
        }
    }
}
