﻿.table {

    tbody {
        > tr {
            background: $white;

            &:nth-child(even) {
                background: #f7fafc;
            }


            th, td {
                font-size: 12px;
                vertical-align: middle;
                border: 1px solid #eae9e5;
                padding: 16px 12px;
            }

            th {
                background: $sand;
                border: 1px solid #bfbcb6;
                padding: 5px 0 5px 10px;
            }
        }
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .no-activity {
        color: #c7696c;
    }


    .sort {
        display: block;
        position: relative;
        padding-right: 25px;
        cursor: pointer;

        &-asc,
        &-desc {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 8px 6px;
            border-color: transparent transparent #979590 transparent;
            cursor: pointer;
        }

        &-desc {
            border-width: 8px 6px 0 6px;
            border-color: #979590 transparent transparent transparent;
        }
    }

    .icon-edit {
        display: block;
        background: url(../images/icons.png) no-repeat -21px 0;
        width: 16px;
        height: 20px;
        margin: 0 auto;
    }

    .grid-description-wrapper {
        position: relative;

        span {
            font-size: 18px;
            position: absolute;
            top: 50%;
            right: -3px;
            height: 26px;
            margin-top: -13px;
        }

        > a {
            padding-right: 20px;
            display: inline-block;
        }
    }
}
