﻿<table style="border: 0; width: 600px; background-color: rgb(255, 255, 255);" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="padding: 0px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="width: 100%; vertical-align: top; background-color: rgb(255, 255, 255);">
                                <table border="0" cellpadding="5" cellspacing="0" style="width: 100%; padding: 20px;">
                                    <tbody>
                                        <tr>
                                            <td align="left" id="textOnlyTD" valign="top">
                                                <div align="left" dir="ltr" style="margin-right: 0px; margin-left: 5px;">
                                                    @RenderBody()
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>