﻿@using STS.CrossCutting.Utils
@model STS.Application.Models.EmailTemplates.ChangeLevelModel
@{
    Layout = "_EmailTemplateLayout";
}

<font color="#000000" face="Franklin Gothic Demi">
    <font style="font-size: 20px;">
        <font color="#800000">Change Level for @Model.CompanyName</font>
    </font>
    <br>
    <font style="font-size: 12px;">
        @if (Model.IsIncrease)
        {
            <p>Congratulations! <b>@Model.CompanyName</b> has advanced from the <b>@SustainabilityUtils.NoResponseIsNull(Model.PreviousCategoryName)</b> sustainability level to the <b>@SustainabilityUtils.NoResponseIsNull(Model.NewCategoryName)</b> level!</p>
            <p>
                Companies progress to a higher sustainability level when they document their sustainability work and share data showing improvements in their environmental performance.Please visit the <b><a href="@Model.CommunicateSustainabilityLink">Sustainability Levels page</a></b> for more information on this accomplishment and to see what steps <b>@Model.CompanyName</b> needs to take to continue its progress.
            </p>
        }
        else
        {
            <p>The sustainability level for <b>@Model.CompanyName</b> has decreased from the <b>@SustainabilityUtils.NoResponseIsNull(Model.PreviousCategoryName)</b> level to the <b>@SustainabilityUtils.NoResponseIsNull(Model.NewCategoryName)</b> level. </p>
            <p>
                To remain at a sustainability level, or advance to the next level, a company must continue to document its sustainability work and share data showing improvements in its environmental performance. Your company’s sustainability level may have decreased because updated information is needed. Please visit the <b><a href="@Model.CommunicateSustainabilityLink">Sustainability Levels page</a></b> for more information on how to continue your company’s progress toward sustainability.
            </p>
        }
    </font>
</font>