﻿@using System.Threading.Tasks
@using STS.CrossCutting.Utils
@model STS.Application.Models.EmailTemplates.ChangeLevelModel
@{
    Layout = "_EmailTemplateLayout";
}

<font color="#000000" face="Franklin Gothic Demi">
    <font style="font-size: 20px;">
        <font color="#800000">Change Level for @Model.CompanyName</font>
    </font>
    <br>
    <font style="font-size: 12px;">
        <p>The sustainability level for <b>@Model.CompanyName</b> has @(Model.IsIncrease ? "increased" : "decreased") from <b>@SustainabilityUtils.NoResponseIsNull(Model.PreviousCategoryName)</b> to <b>@SustainabilityUtils.NoResponseIsNull(Model.NewCategoryName)</b>.</p>
    </font>
</font>
