﻿@model STS.Application.Models.EmailTemplates.LinkModel
@{
    Layout = "_EmailTemplateLayout";
}

<font color="#000000" face="Franklin Gothic Demi">
    <font style="font-size: 20px;">
        <font color="#800000">Set new password</font>
    </font>
    <br>
    <font style="font-size: 12px;">
        <font face="Verdana">
            <font color="#000000" face="Verdana" style="font-size: 12px;">
                <p>
                    The Sustainability Tracking System has received your request to reset your password. Please click <a href="@Model.Link">here</a> to update the password for your account.
                </p>
            </font>
        </font>
    </font>
</font>
