﻿@model STS.Application.Models.EmailTemplates.SignUpModel
@{
    Layout = "_EmailTemplateLayout";
}

<font color="#000000" face="Franklin Gothic Demi">
    <font style="font-size: 20px;">
        <font color="#800000">Set new password</font>
    </font>
    <br>
    <font style="font-size: 12px;">
        <font face="Verdana">
            <p>
                Welcome! @Model.InviterName invites you to log in to the Sustainability Tracking System.
                Please click <a href="@Model.Link">here</a> by @Model.ExpirationDate to create your username and password.
            </p>
            <p>Thank you for your cooperation!</p>
        </font>
    </font>
</font>
