﻿@model STS.Web.Grid.Components.IGrid
@{
    var totalColumns = Model.Columns.Count;
}

<table class="table">
    <colgroup>
        @foreach (var column in Model.Columns)
        {
            <col width="@column.With" />
        }
    </colgroup>
    <tr>
        @foreach (var column in Model.Columns)
        {
            <th>
                <div class="@(column.Sortable ? "sort" : "")" data-name="@column.Name" data-sort="@column.Sortable" data-sort-ascending="@column.SortAscending">
                    @column.Title
                    @if (column.Sortable)
                    {
                        <span class="@(column.SortAscending ? "sort-asc" : "sort-desc")"></span>
                    }
                </div>
            </th>
        }
    </tr>
    @if (Model.Rows.Any())
    {
        foreach (var row in Model.Rows)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <td>@column.GetCellText(row)</td>
                }
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="@totalColumns">@Model.EmptyText</td>
        </tr>
    }
</table>
