﻿@model STS.Web.Grid.Components.IPager

@{
    var currentPage = Model.CurrentPage;
    var totalPages = Model.TotalPages;
    var firstDisplayPage = Model.FirstDisplayPage;
}

<div class="row">
    <div class="col-xs-12 col-sm-5">
        Rows per page
        <span class="select-per-page">
            <select class="chosen-select">
                @foreach (var size in Model.PageSizes)
            {
                var isCurrentSize = size == Model.RowsPerPage;
                    <option selected="@isCurrentSize" value="@size">@size</option>
                }
            </select>
        </span>
    </div>
    <div class="col-xs-12 col-sm-7">
        <ul class="pagination">
            @if (currentPage > 1)
            {
                <li><a href="javascript:void(0);" class="pagination-prev" data-page="@(currentPage - 1)"></a></li>
            }
            else
            {
                <li><a href="javascript:void(0);" class="pagination-prev"></a></li>
            }

            @for (var page = firstDisplayPage; page <= totalPages && page < firstDisplayPage + Model.PagesToDisplay; page++)
            {
                if (page == currentPage)
                {
                    <li><a href="javascript:void(0);" class="active" data-page="@page">@page</a></li>
                }
                else
                {
                    <li><a href="javascript:void(0);" data-page="@page">@page</a></li>
                }
            }

            @if (currentPage < totalPages)
            {
                <li><a href="javascript:void(0);" class="pagination-next" data-page="@(currentPage + 1)"></a></li>
            }
            else
            {
                <li><a href="javascript:void(0);" class="pagination-next"></a></li>
            }
        </ul>
    </div>
</div>