.title {
  background: $sand;
  color: $white;
  padding: 16px 14% 16px 0;
  @include font-franklin(34px);

  span {
    display: block;
    background: $red;
    padding: 12px 21px 13px;
    text-transform: uppercase;
  }
}