.btn {
    color: $white;
    background: $light-blue;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    padding: 8px 7px 7px;
    @include border-radius(0);

    @include media('<=tablet') {
        margin-bottom: 10px;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &.active:focus,
    &:active.focus,
    &.active.focus {
        background: $hover-blue;
        color: $white;
        outline: none;
        transition: all .1s ease;
        box-shadow: none;
    }

    &-default {
        color: $light-blue;
        background: $white;
        border: 1px solid $light-blue;
        padding: 7px 6px 6px;

        &:hover,
        &:focus,
        &:active,
        &:active:focus,
        &.active:focus,
        &:active.focus,
        &.active.focus {
            background: $white;
            color: $hover-blue;
            border-color: $hover-blue;
        }
    }

    &-accent {
        background: $red;
        text-transform: none;
        padding-left: 21px;
        padding-right: 21px;
        @include font-franklin(18px);

        .icon {
            margin-left: 26px;
        }
    }

    &-cancel {
        color: $red;
        background: transparent;
        border: 1px solid $red;
        padding: 7px 6px 6px;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            background: url(../images/icons.png) -34px -27px no-repeat;
            font-size: 50px;
            height: 12px;
            width: 12px;
            margin-right: 5px;
        }

        &:hover,
        &:focus,
        &:active,
        &:active:focus,
        &.active:focus,
        &:active.focus,
        &.active.focus {
            opacity: .7;
            background: transparent;
            color: $red;
        }

        &-noicon:before {
            display: none;
        }

        &.back:before {
            background-position: -42px -210px;
            width: 6px;
            height: 10px;
            margin-right: 9px;
        }

        &.next {
            &:before {
                display: none;
            }

            &:after {
                content: '';
                display: inline-block;
                background: url(../images/icons.png) -42px -226px no-repeat;
                width: 6px;
                height: 10px;
                margin-left: 9px;
            }
        }
    }

    &-edit {
        background: #f7fafc;
        color: $hover-blue;
        border: 1px solid #a1c5de;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active,
        &.active,
        &:active:focus,
        &.active:focus,
        &:active.focus,
        &.active.focus {
            background: #e0ecf4;
            color: $hover-blue;
            border-color: #c9ddec;
            box-shadow: none;
        }
    }
}
