﻿@using STS.Web.Controllers
@using STS.Application.Models.Document
@model DocumentUploadViewModel

@{
    ViewBag.Title = "Upload Document";
    Layout = "_CompanyLayout";
}

<div class="container-fluid">
    <div id="upload-document-content"></div>
</div>

@section Scripts{
    <script src="@Url.Content("~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js")"></script>
    <environment names="Development,Nightly">
        <script src="~/lib/react/react.js"></script>
        <script src="~/lib/react/react-dom.js"></script>
        <script src="@Url.Content("~/js/application/react/constants/constants.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/documentUpload/models.js")"></script>
        <script src="@Url.Content("~/js/application/react/components/confirmation.js")"></script>
        <script src="@Url.Content("~/js/application/react/components/datepicker.js")"></script>
        <script src="@Url.Content("~/js/application/react/components/select.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/documentUpload/categoryItem.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/documentUpload/uploadForm.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/documentUpload/app.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/documentUpload/formDataUtil.js")"></script>
    </environment>
    <environment names="Staging,Production,QA">
        <script src="~/lib/react/react.min.js" asp-append-version="true"></script>
        <script src="~/lib/react/react-dom.min.js" asp-append-version="true"></script>
        <script src="~/js/documentupload.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        ReactDOM.render(React.createElement(DocumentUpload, {
            model: @Json.Serialize(Model),
            saveLink: '@Url.Action("AddDocument")',
            redirectLink: '@Url.Action(nameof(CompanyController.Documents), "Company")'
        }), document.getElementById('upload-document-content'));
    </script>
}
