﻿@using STS.Application.Filters
@inject IJsonHelper Json
@{
    ViewBag.Title = "Document Progress";
    Layout = "_CompanyLayout";

    var companyId = (int)ViewBag.CompanyId;
    var initialFilter = new Filter
    {
        RowsPerPage = 25,
        SortAscending = true,
        SortColumns = "",
        CurrentPage = 1
    };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-12 col-md-offset-2 col-md-3">
            <a asp-controller="Company" asp-action="AddDocument" class="btn btn-accent pull-right"><span class="icon icon-plus"></span>Add New Document</a>
        </div>
    </div>
    <div id="documents" data-source-link="@Url.Action("GetDocuments")">
        @await Component.InvokeAsync("CompanyDocumentsGrid", new { filter = initialFilter, companyId })
    </div>
</div>

@section Scripts {
    <script src="~/js/application/uibehaviour/popoverBehaviour.js"></script>
    <script src="~/js/application/grid/ajaxGrid.js"></script>
    <script src="~/js/application/grid/documentsAjaxGrid.js"></script>

    <script>
        $.fn.DocumentsAjaxGrid($('#documents') ,@Json.Serialize(initialFilter));
    </script>
}
