﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "_CompanyLayout";
}

<div class="container-fluid">
    <ul class="dashboard-links supplier">
        <li><a asp-controller="Company" asp-action="Users" class="dashboard-links-item user">Manage Users</a></li>
        <li><a asp-controller="Company" asp-action="Sustainability" class="dashboard-links-item accomplishments">Accomplishments & Steps to Next Level</a></li>
        <li><a asp-controller="Company" asp-action="Metrics" class="dashboard-links-item recorders">Environmental Data</a></li>
        <li><a asp-controller="Company" asp-action="Documents" class="dashboard-links-item documents">Document Progress</a></li>
        <li><a asp-controller="Company" asp-action="Survey" class="dashboard-links-item certifications">Survey</a></li>
    </ul>
    <h2> Welcome to the Sustainability Tracking System (STS)!</h2>
</div>