﻿@using System.Globalization
@using STS.Application.Models.Company

@model MetricsViewModel
@{
    ViewBag.Title = "Environmental Data";
    Layout = "_CompanyLayout";
    Model.Metrics = Model.Metrics ?? new List<MetricItemViewModel>();
    ViewBag.BodyClass = "bg-sand";
}

<div class="container-fluid grid-col-2">
    <div class="row grid-right-aside">
        <div class="col-xs-12 col-md-9 h-mt20">
            <h1>Environmental Data</h1>
            <form asp-controller="Company" asp-action="Metrics" asp-antiforgery="true" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="edit-form">
                    <div class="edit-form-inner">
                        <div class="title">
                            @if (Model.Id == 0 && Model.BaseYear)
                            {
                                <span>Enter Year Ending Date</span>
                            }
                            else
                            {
                                <span>Year of metric</span>
                            }
                        </div>

                        <div class="row edit-form-block">
                            @if (@Model.Id == 0 && Model.BaseYear)
                            {
                                <div class="col-sm-6">
                                    Please enter the last day of the fiscal year for which you will provide data.
                                </div>
                            }
                            <div class="col-sm-6 form-group">
                                @if (Model.Id == 0 && Model.BaseYear)
                                {
                                    <input asp-for="LastDayOfTheYear" type="text" class="form-control">
                                }
                                else
                                {
                                    <input asp-for="LastDayOfTheYear" type="text" class="form-control" readonly="readonly">
                                }
                                <span asp-validation-for="LastDayOfTheYear" class="error"></span>
                            </div>
                        </div>

                        <div class="title">
                            <span>Revenue</span>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                What was your company’s total revenue for the fiscal year?
                                (NOTE: Revenue information is used to establish a connection between your company’s business performance and your environmental data.)
                            </div>
                            <div class="col-sm-6 form-group">
                                <label></label>
                                <input asp-for="Revenue" type="text" class="form-control" maxlength="16">
                                <span asp-validation-for="Revenue" class="error"></span>
                            </div>
                        </div>

                        <div class="title">
                            <span>
                                Mergers, Acquisitions, Divestiture
                                <span style="display: inline" data-toggle="popover"
                                      data-content='
                          <p>
                              <b>Mergers, Acquisitions, Divestitures</b> – Please check this box if your company <u>completed</u>
                              a merger, acquisition, or divestiture of, or with, a company or property within the applicable fiscal year.
                          </p>'
                            >
                            &#x24D8
                    </span>
                            </span>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-12">
                                During the fiscal year, did your company do either of the following?
                                <br>
                                1) Acquire, or divest itself of, a business or property
                                <br>
                                2) Merge with another business
                            </div>
                            <div class="col-sm-6 h-mt20">
                                <div class="checkbox-toggle">
                                    <input asp-for="Merged" class="checkbox" data-target="#details-block" />
                                    <label asp-for="Merged">
                                        NO
                                    </label>

                                    <span asp-validation-for="Merged" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block" id="details-block">
                            <div class="col-sm-12 form-group">
                                <label>Details </label>
                                <textarea asp-for="Details" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Details" class="error"></span>
                            </div>
                        </div>

                        <div class="title">
                            <span>
                                Greenhouse Gas (GHG) Emissions
                                <span style="display: inline" data-toggle="popover"
                                      data-content='
                          <p>
                          <b>Greenhouse Gas (GHG) Emissions</b> – The United Nations Kyoto Protocol recognizes six categories
                          of gases that contribute significantly to climate change:
                              <ul>
                                  <li>•	Carbon dioxide (CO2);</li>
                                  <li>•	Methane (CH4);</li>
                                  <li>•	Nitrous oxide (N2O);</li>
                                  <li>•	Hydrofluorocarbons (HFCs);</li>
                                  <li>•	Perfluorocarbons (PFCs); and</li>
                                  <li>•	Sulphur hexafluoride (SF6)</li>
                              </ul>
                          </p>
                          <p>
                              GHGs are emitted primarily from the combustion of fossil fuels,
                              but are also released from certain industrial processes,
                              as well as through chemical leaks from equipment.
                          </p>'
                            >
                        &#x24D8
                    </span>
                            </span>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Scope 1 (Metric tons of CO<sub>2</sub> equivalents)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                  <b>Scope 1 Greenhouse Gas (GHG) Emissions</b> - A company creates Scope 1 Greenhouse Gas Emissions
                                    when it combusts fuel in, or releases gases covered under the <a target="_blank" href="http://unfccc.int/kyoto_protocol/items/3145.php">United Nations’ Kyoto Protocol</a>
                                    from equipment that it owns or controls.  Please report data in terms of metric tons of carbon dioxide equivalents (CO2e).
                                    If no data is available for this metric, please <u>leave the field blank</u>.
                                  </p>
                                  <p>
                                    Do not enter a zero in this field unless your company generated zero Scope 1 GHG emissions.
                                    The World Resources Institute (WRI) defines Scope 1 Greenhouse Gas Emissions as following:
                                    “Direct GHG emissions occur from sources that are owned or controlled by the company, for example, emissions from combustion in owned or controlled boilers,
                                    furnaces, vehicles, etc.; emissions from chemical production in owned or controlled process equipment (are also included).” (Source: <a target="_blank" href="http://www.ghgprotocol.org/standards/corporate-standard">GHG Protocol – Corporate Standard</a>)
                                  </p>
                                  <p>
                                      Please review the <a target="_blank" href="http://www.ghgprotocol.org/standards/corporate-standard">GHG Protocol – Corporate Standard</a> for a complete definition.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Scope1" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Scope1" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Scope 2 – Market-Based (Metric tons of CO<sub>2</sub> equivalents)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                  <b>Scope 2 Greenhouse Gas (GHG) Emissions</b> - A company creates Scope 2 Greenhouse Gas Emissions
                                      when it purchases or acquires electricity, heat, steam, or cooling from a third party.
                                      Please report data in terms of metric tons of carbon dioxide equivalents (CO2e).
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company generated zero Scope 2 GHG emissions.
                                  </p>
                                  <p>
                                      The World Resources Institute (WRI) defines Scope 2 Greenhouse Gas Emissions as following:
                                      “Scope 2 accounts for GHG emissions from the generation of purchased electricity consumed by the company.
                                      Purchased electricity is defined as electricity that is purchased or otherwise brought into the organizational boundary of the company.
                                      Scope 2 emissions physically occur at the facility where electricity is generated.” (Source: <a target="_blank" href="http://www.ghgprotocol.org/standards/corporate-standard">GHG Protocol – Corporate Standard</a>)
                                  </p>
                                  <p>
                                      Please review the <a target="_blank" href="http://www.ghgprotocol.org/standards/corporate-standard">GHG Protocol – Corporate Standard</a> for a complete definition.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Scope2" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Scope2" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Scope 3 (Metric tons of CO<sub>2</sub> equivalents)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                  <b>Scope 3 Greenhouse Gas (GHG) Emissions</b> – A company’s Scope 3 GHG Emissions reflect all
                                      indirect emissions that result from its business activities and are not covered separately under Scope 2.
                                      Please report data in terms of metric tons of carbon dioxide equivalents (CO2e).
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company generated zero Scope 3 GHG emissions.
                                  </p>
                                  <p>
                                      The World Resources Institute (WRI) defines Scope 2 Greenhouse Gas Emissions as following:
                                      “Scope 3 emissions are a consequence of the activities of the company, but occur from sources not owned
                                      or controlled by the company.” (Source: <a target="_blank" href="http://www.ghgprotocol.org/standards/corporate-standard">GHG Protocol – Corporate Standard</a>)
                                  </p>
                                  <p>
                                      The <a target="_blank" href="http://www.ghgprotocol.org/standards/scope-3-standard">GHG Protocol Corporate Value Chain Accounting Reporting Standard</a>
                                        identifies 15 mutually exclusive categories of Scope 3 GHG emissions:
                                        <ol>
                                            <li>1.  Purchased goods and services</li>
                                            <li>2.  Capital goods</li>
                                            <li>3.	Fuel-and energy-related activities</li>
                                            <li>4.	Upstream transportation and distribution</li>
                                            <li>5.	Waste generated in operations</li>
                                            <li>6.	Business travel</li>
                                            <li>7.	Employee commuting</li>
                                            <li>8.	Upstream leased assets</li>
                                            <li>9.	Downstream transportation and distribution</li>
                                            <li>10.	Processing of sold products</li>
                                            <li>11.	Use of sold products</li>
                                            <li>12.	End of life treatment of sold products</li>
                                            <li>13.	Downstream leased assets</li>
                                            <li>14.	Franchises</li>
                                            <li>15.	Investments</li>
                                        </ol>
                                  </p>
                                  <p>
                                    Companies should strive to report on as many of the categories of Scope 3 emissions as are relevant to their business.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Scope3" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Scope3" class="error"></span>
                                </div>
                            </div>
                        </div>


                        <div class="title">
                            <span>Energy</span>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Electrical (kwh)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Electricity Consumed</b> – Please report the total number of kilowatt hours (kwh) that your company
                                      consumed during the applicable fiscal year.  Your data should include electricity consumed in all
                                      aspects of your business and should include both purchased electricity and self-generated electricity that your company consumed.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your consumed zero electricity.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Electrical" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Electrical" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Natural Gas (therms)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Natural Gas Purchased</b> - Please report the total quantity of natural gas
                                      that your company purchased during the applicable fiscal year.
                                      Your data should include natural gas purchased in all aspects of your business.
                                      Please provide quantities in therms.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not purchase natural gas.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="NaturalGas" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="NaturalGas" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Gasoline (gallons)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Gasoline Purchased</b> - Please report the total quantity of gasoline
                                      that your company purchased during the applicable fiscal year.
                                      Your data should include gasoline purchased in all aspects of your business.
                                      Please provide quantities in gallons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not purchase gasoline.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Gasoline" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Gasoline" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Diesel (gallons)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Diesel Fuel Purchased</b> - Please report the total quantity of diesel fuel
                                      that your company purchased during the applicable fiscal year.
                                      Your data should include diesel fuel purchased in all aspects of your business.
                                      Please provide quantities in gallons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not purchase diesel fuel.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Diesel" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Diesel" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Aviation Fuel (gallons)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Aviation Fuel Purchased</b> - Please report the total quantity of aviation fuel
                                      that your company purchased during the applicable fiscal year.
                                      Your data should include aviation fuel purchased in all aspects of your business.
                                      Please provide quantities in gallons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not purchase aviation fuel.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="AviationFuel" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="AviationFuel" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Propane (kg)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Propane Purchased</b> - Please report the total quantity of propane
                                      that your company purchased during the applicable fiscal year.
                                      Your data should include propane purchased in all aspects of your business.
                                      Please provide quantities in kilograms.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not purchase propane.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="Propane" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="Propane" class="error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <span>Water</span>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Potable Gallons Used
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Potable Gallons of Water Used</b> - Please report the total quantity of potable water
                                      that your company used during the applicable fiscal year.
                                      Your data should include purchased water, as well as water from sources that are owned, leased,
                                      or controlled by the company.  Please provide quantities in gallons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not use potable water.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="PotableGallons" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="PotableGallons" class="error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Non-Potable Gallons Used
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Non-Potable Gallons of Water Used</b> - Please report the total quantity of non-potable water
                                      that your company used during the applicable fiscal year.
                                      Your data should include purchased water, as well as water from sources that are owned, leased,
                                      or controlled by the company.  Please provide quantities in gallons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not use non-potable water.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="NonPotableGallons" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="NonPotableGallons" class="error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <span>Solid Waste</span>
                        </div>

                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Amount Sent to Landfills (tons)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Waste Sent to Landfills or Incinerated</b> – Please report the total quantity of waste
                                      generated at facilities that are owned or controlled by the company, which the company disposed
                                      of by sending to a landfill or incineration facility.
                                      Waste removed by a third-party waste hauler that was not recycled, reused,
                                      or composted should be included in the quantity reported.  Please provide quantities in tons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not dispose of any waste via a landfill or incineration.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="AmountSentToLandfills" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="AmountSentToLandfills" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Amount Recycled (tons)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Recycled Waste</b> - Please report the total quantity of waste generated at facilities that are owned
                                      or controlled by the company, which the company disposed of by sending to a recycling facility.
                                      Please provide quantities in tons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not recycle any materials.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="AmountRecycled" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="AmountRecycled" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-form-block">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        Amount Composted (tons)
                                        <span data-toggle="popover"
                                              data-content='
                                  <p>
                                      <b>Composted Waste</b> - Please report the total quantity of waste generated at facilities that are owned
                                      or controlled by the company, which the company disposed of by composting on-site or sending to a
                                      third-party composting facility. Please provide quantities in tons.
                                  </p>
                                  <p>
                                      If no data is available for this metric, please <u>leave the field blank</u>.
                                      Do not enter a zero in this field unless your company did not compost any materials.
                                  </p>'
                                    >
                                &#x24D8
                            </span>
                                    </label>
                                    <input asp-for="AmountComposted" type="text" class="form-control numeric-input" maxlength="14">
                                    <span asp-validation-for="AmountComposted" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 f-14">
                        By clicking submit, I affirm that all environmental impact data
                        is true and correct and has been calculated based on the <a href="#">guidelines</a>
                        used by the Sustainability Tracking System.
                    </div>
                </div>

                <div class="row edit-form-btns h-mt20">
                    <div class="col-sm-6">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-cancel">Cancel</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-3 col-right f-14">
            <h2 class="h-mb10">Previous Years</h2>
            <p>
                You have entered environmental impact metrics for the years ending on the dates listed below.
            </p>
            <p>
                If you would like to report new information for a year listed below, please select the applicable year.
            </p>
            <p>
                Please click “Enter Year Ending Date” if you would like to provide information for a year that you have not previously reported.
            </p>

            <div class="previous-numbers">
                @if (Model.Id != 0)
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <a href="@Url.Action("Metrics", new {id="" })" class="btn">
                                Enter Year Ending Date
                            </a>
                        </div>
                    </div>
                }
                <div class="row">
                    @foreach (var metric in Model.Metrics)
                    {
                        var buttonStyle = "btn-edit";
                        if (metric.Id == Model.Id)
                        {
                            buttonStyle = "btn-edit active";
                        }

                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <a href="@Url.Action("Metrics", new {id=metric.Id})" class="btn @buttonStyle">
                                @metric.MetricDate.ToString(@"MMMM dd,yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/application/inputs/numeric.js"></script>
    <script src="~/js/application/inputs/date.js"></script>
    <script src="~/js/application/inputs/currency.js"></script>
    <script src="~/js/application/supplier/supplierEditor.js"></script>
    <script src="~/js/application/supplier/checkboxLabelUpdater.js"></script>
    <script src="~/js/application/uibehaviour/popoverBehaviour.js"></script>

    @if (Model.Id == 0 && Model.BaseYear)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.fn.DateInput('#LastDayOfTheYear');
            });
        </script>
    }

    <script type="text/javascript">
        $(function () {
            $.fn.SupplierEditorForm($('#Merged'), true);
            $.fn.CheckboxLabelUpdater("Merged", "YES", "NO");
            $.fn.CurrencyInput("#Revenue");
            $.fn.NumericInput(".numeric-input", "", ",");
        });

        $(function () {
            var popupBehaviour = new UiBehavior.PopoverBehaviour();
            popupBehaviour.setupElementBehaviour($('[data-toggle="popover"]'));
            popupBehaviour.setupBodyBehaviour();
        });
    </script>
}
