﻿@using STS.Application.Models.Company
@using STS.CrossCutting.Enums
@model SurveyViewModel

@{
    ViewBag.Title = "Survey";
    Layout = "_CompanyLayout";
    var index = 0;

    Func<int, AnswerType, string> getIdFor = (number, type) => $"radio-{number}-{type}";
}

<div class="edit-form-wr">
    @if (Model.Questions.Any())
    {
        <h1>Please pass the survey</h1>
    }
    else
    {
        <h1>There are no questions yet</h1>
    }

    @if (Model.Questions.Any())
    {
        <div class="edit-form edit-form-content">
            <form asp-action="Survey">
                @foreach (var item in Model.Questions)
                {
                    @Html.HiddenFor(x => x.Questions[index].QuestionId)
                    <div class="row edit-form-block">
                        <div class="col-sm-9">
                            <h2>@item.Text</h2>
                        </div>
                        <div class="col-sm-1 nowrap">
                            @Html.RadioButtonFor(x => x.Questions[index].Answer, AnswerType.Yes, new {id = getIdFor(index, AnswerType.Yes)})
                            @Html.Label(getIdFor(index, AnswerType.Yes), "Yes", new {@class = "label-radio"})
                        </div>
                        <div class="col-sm-1 nowrap">
                            @Html.RadioButtonFor(x => x.Questions[index].Answer, AnswerType.No, new {id = getIdFor(index, AnswerType.No)})
                            @Html.Label(getIdFor(index, AnswerType.No), "No", new {@class = "label-radio"})
                        </div>
                        <div class="col-sm-1 nowrap">
                            @Html.RadioButtonFor(x => x.Questions[index].Answer, AnswerType.None, new {id = getIdFor(index, AnswerType.None)})
                            @Html.Label(getIdFor(index, AnswerType.None), "Not sure", new {@class = "label-radio"})
                        </div>
                    </div>
                    <hr/>
                    index++;
                }
                <div class="row edit-form-btns">
                    <div class="col-sm-3 col-sm-offset-5">
                        <a href="@Url.Action("Index", "Company")" class="btn btn-cancel">Cancel</a>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
