﻿@using STS.Application.Filters
@inject IJsonHelper Json
@{
    ViewBag.Title = "Users Management";
    Layout = "_CompanyLayout";

    var companyId = (int)ViewBag.CompanyId;
    var initialFilter = new Filter
    {
        RowsPerPage = 25,
        SortAscending = true,
        SortColumns = "",
        CurrentPage = 1
    };
}

<div class="container-fluid">
    <div id="users" data-source-link="@Url.Action("GetUsers")">
        @await Component.InvokeAsync("CompanyUsersGrid", new { filter = initialFilter, companyId })
    </div>
</div>

@section Scripts {
    <script src="~/js/application/grid/ajaxGrid.js"></script>
    <script>
        $.fn.AjaxGrid($('#users') ,@Json.Serialize(initialFilter));
    </script>
}
