﻿@using System.Threading.Tasks
@using STS.CrossCutting.Constans

@{
    var companyName = User.FindFirst(ClaimTypesConstant.CompanyName);
    var userName = User.FindFirst(ClaimTypesConstant.UserName);
}

<ul class="nav navbar-nav">
    @if (companyName != null)
    {
        <li class="active"><a href="#">@companyName.Value</a></li>
    }
    @if (userName != null)
    {
        <li><span>@userName.Value</span></li>
    }
    <li><a asp-controller="Account" asp-action="LogOff" class="icon icon-logout"></a></li>
</ul>
