﻿<p>
    Thank you for completing the STS survey and sharing information about your company’s current environmental performance,
    as well as your existing work towards becoming more environmentally sustainable.
</p>
<p>
    In the future, if you decide that you would like to use the STS to share your company’s sustainability accomplishments
    with @Model.LeadCompanyName, please use <a asp-controller="Account" asp-action="LogOff">this URL</a>, or the link in your email invitation
    to complete this survey, to login to the STS and purchase a subscription.
</p>
<p>
    Thank you for your time and consideration!
</p>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <a href="@Url.Action("LogOff", "Account")" class="btn no-arrow">Ok</a>
    </div>
</div>
