﻿@using STS.Application.Models.ManageSustainability
@model SustainabilityFilterModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

    var selectItems = Model.Suppliers.Select(x =>
    {
        var link = Url.Action(action, controller, new { id = x.Id });
        var item = new SelectListItem
        {
            Value = link,
            Text = x.Name,
            Selected = x.Id == Model.CompanyId
        };
        return item;
    });
}

<span>Select Supplier Company</span>
<select id="sustanability-filter" asp-items="@selectItems"></select>
