﻿@using System.Threading.Tasks
@using STS.Application.Filters;
@using STS.Application.Models.Document
@using STS.Web.Extensions
@using STS.Web.Grid.Builders.Implementations

@model IFilterResult<DocumentItemViewModel>
@{
    Func<DocumentItemViewModel, string> fileNameRenderFn = (item) =>
    {
        var urlLink = Url.Action("DownloadFile", "Documents", new { id = item.Id });
        var link = $"<a href='{urlLink}'>{item.FileName}</a>";

        if (string.IsNullOrEmpty(item.Description))
        {
            return $"<div class=\"grid-description-wrapper\">{link}</div>";
        }

        var info = $"<span data-toggle='popover' data-content='<p>{Html.Encode(item.Description)}</p>'>&#x24D8</span>";
        var wrapper = $"<div class=\"grid-description-wrapper\">{link}{info}</div>";

        return wrapper;
    };

    var grid = new GridBuilder<DocumentItemViewModel>()
        .Columns(cols =>
        {
            cols.Define(c => c.FileName).RenderAs(x => fileNameRenderFn(x))
                .Titled("Document").HasWitdh("20%");

            cols.Define(c => c.DocumentType).RenderAs(c => c.DocumentType)
                .Titled("Document Type").HasWitdh("40%");

            cols.Define(c => c.UploadDate).RenderAs(c => c.UploadDate.ToString(@"MM\/dd\/yy"))
                .Titled("Upload Date").HasWitdh("20%");

            cols.Define(c => c.UploadedBy).RenderAs(c => c.UploadedBy)
                .Titled("Uploaded By").HasWitdh("20%");
        })
        .EmptyText("No Documents")
        .Pagination(pg =>
        {
            pg.PagesToDisplay(5);
            pg.TotalPages(Model.TotalPages);
            pg.PageSizes(25, 50, 75, 100);
        })
        .Rows(Model.Items)
        .SetupByFilter(Model.Filter)
        .Build();
}

<div class="title-red">
    Total Documents: <b>@Model.TotalItems</b>
</div>

<div class="table-responsive">
    @Html.Partial("Grid/Grid", grid)
</div>

@if (grid.Pager != null)
{
    <div class="ajax-grid-pager">
        @Html.Partial(grid.Pager.PartialViewName, grid.Pager)
    </div>
}
