@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-franklin($size) {
  font-family: 'Franklin Gothic Demi Cond', Geneva, DejaVu, Sans, Sans-serif;
  font-size: $size;
}