﻿@using System.Threading.Tasks
@using STS.Application.Models.Admin
@model  CompanyEditViewModel

@{
    ViewBag.Title = $"{(ViewBag.EditMode != null && ViewBag.EditMode == true ? "Edit" : "Create")} Lead Company";
    Layout = "_AdminLayout";
}

@Html.ValidationSummary()

<form id="lead-edit-form" asp-controller="Admin" asp-action="EditCompany" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" enctype="multipart/form-data">
    <input asp-for="EditMode" type="hidden" />
    <div class="edit-form-wr">
        <h1>@($"{ViewBag.Title} Account")</h1>
        <div class="edit-form">
            <div class="edit-form-inner">
                <div class="title"><span>Company Information</span></div>
                @Html.EditorFor(x => x.Company)
                @if (!Model.EditMode)
                {
                    <div class="title"><span>Company Administrator</span></div>
                    @Html.EditorFor(x => x.Administrator)
                }
            </div>
        </div>
        <div class="row edit-form-btns">
            <div class="col-sm-6">
                <a href="@Url.Action("Companies", "Admin")" class="btn btn-cancel">Cancel</a>
            </div>
            <div class="col-sm-6">
                <button id="save" type="submit" class="btn">
                    @($"{(Model.EditMode ? "Update" : "Create")} Lead Company")
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/application/supplier/companyEditor.js"></script>
    <script src="~/js/application/inputs/phone.js"></script>
    <script src="~/js/application/inputs/numeric.js"></script>
    <script src="~/js/application/inputs/date.js"></script>
    <script src="~/js/application/inputs/currency.js"></script>
    <script src="~/js/application/inputs/zipCode.js"></script>
    <script src="~/js/application/supplier/supplierEditor.js"></script>
    <script>
        $.fn.CompanyEditorForm($('#select-state').toArray(), $('.lazy-password').toArray());
        $.fn.PhoneInput($('.phone-input').toArray());
        $.fn.SupplierEditorForm($('#AdminIsPrimaryContact'));
        $.fn.CurrencyInput("#AnnualProcurementBudget");
        $.fn.ZipCodeInput("#Zip");
        $(document).ready(function () {
            $.fn.DateInput('#SubscriptionExpirationDate');
            setTimeout(function () {
                $(".code-search").codeInput();
            }, 10);
        });
        function confirm(editMode) {
            let message = "Are you sure you want to ";
            message += editMode ? "save this data?" : "create " + $('#LeadCompany_Name').val() + " as a new lead company?";
            $.fn.confirmationDialog(null, function () { $('#lead-edit-form').submit(); return false; }, message);
        }
    </script>
}
