﻿@using STS.CrossCutting.Enums
@using STS.Application.Models.User
@model UserEditViewModel

@{
    ViewBag.Title = "Users Management";
    var editMode = Model.Id > 0;
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <form asp-controller="Admin" asp-action="EditUser" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
        <div class="edit-form-wr">
            <h1>@(editMode ? "Edit" : "Create") User</h1>
            <div class="edit-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="edit-form-inner">
                    <div class="title"><span>User Information</span></div>
                    <div class="row edit-form-block">
                        <div class="col-sm-4 form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="error"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="error"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control phone-input" />
                            <span asp-validation-for="PhoneNumber" class="error"></span>
                        </div>
                    </div>
                    <div class="row edit-form-block">
                        <div class="col-sm-4 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="error"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="ConfirmEmail"></label>
                            <input asp-for="ConfirmEmail" class="form-control" />
                            <span asp-validation-for="ConfirmEmail" class="error"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="error"></span>
                        </div>
                    </div>
                    <div class="row edit-form-block">
                        <div class="col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-sm-12 col-md-10 nowrap">CHANGE STATUS</div>
                                <div class="col-sm-4 col-md-3 nowrap">
                                    <input id="UserStatus-Active" asp-for="UserStatus" type="radio" value="@UserStatus.Active">
                                    <label for="UserStatus-Active" class="label-radio">Active</label>
                                </div>
                                <div class="col-sm-4 nowrap">
                                    <input id="UserStatus-Deactivated" asp-for="UserStatus" type="radio" value="@UserStatus.Deactivated">
                                    <label for="UserStatus-Deactivated" class="label-radio">Deactivated</label>
                                </div>
                                <div class="col-sm-4 col-md-3 nowrap">
                                    <input id="UserStatus-Locked" asp-for="UserStatus" type="radio" value="@UserStatus.Locked">
                                    <label for="UserStatus-Locked" class="label-radio">Locked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row edit-form-btns">
                <div class="col-sm-6">
                    <a href="@Url.Action("Users", "Admin")" class="btn btn-cancel">Cancel</a>
                </div>
                <div class="col-sm-6">
                    <button class="btn" type="submit">@(editMode ? "Update" : "Create") User</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/application/inputs/phone.js"></script>
    <script>
        $.fn.PhoneInput($('.phone-input').toArray());
    </script>
}
