﻿@using STS.Application.Models.Admin
@model QuestionEditViewModel

@{
    ViewBag.Title = "Questions Management";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <form asp-controller="Admin" asp-action="EditQuestion" method="post" role="form">
        <div class="edit-form-wr">
            <h1>@(Model.EditMode ? "Edit" : "Create") Question</h1>
            <div class="edit-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <input asp-for="EditMode" type="hidden" />
                <div class="edit-form-inner">
                    <div class="title"><span>Question Information</span></div>
                    <div class="row edit-form-block">
                        <div class="col-sm-12 form-group">
                            <label asp-for="Text"></label>
                            <input asp-for="Text" class="form-control" />
                            <span asp-validation-for="Text" class="error"></span>
                        </div>
                    </div>
                    <div class="row edit-form-block">
                        <div class="col-sm-4 form-group">
                            <label asp-for="YesAnswerPoints"></label>
                            <input asp-for="YesAnswerPoints" class="form-control" />
                            <span asp-validation-for="YesAnswerPoints" class="error"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label asp-for="NoAnswerPoints"></label>
                            <input asp-for="NoAnswerPoints" class="form-control phone-input" />
                            <span asp-validation-for="NoAnswerPoints" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row edit-form-btns">
                <div class="col-sm-6">
                    <a href="@Url.Action("Questions", "Admin")" class="btn btn-cancel">Cancel</a>
                </div>
                <div class="col-sm-6">
                    <button class="btn" type="submit">@(Model.EditMode ? "Update" : "Create") Question</button>
                </div>
            </div>
        </div>
    </form>
</div>