﻿@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <h2>Welcome to the Sustainability Tracking System (STS)!</h2>
    <br>
    <ul class="dashboard-links">
        <li><a asp-controller="Admin" asp-action="Users" class="dashboard-links-item users">Manage Users</a></li>
        <li><a asp-controller="Admin" asp-action="Companies" class="dashboard-links-item suppliers">Manage Companies</a></li>
        <li><a asp-controller="Admin" asp-action="Reports" class="dashboard-links-item reporting">Reporting</a></li>
        <li><a asp-controller="Admin" asp-action="Sustainability" class="dashboard-links-item sustainability">Company Sustainability</a></li>
        <li><a asp-controller="Admin" asp-action="Rules" class="dashboard-links-item levels">Manage Sustainability Levels</a></li>
        <li><a asp-controller="Admin" asp-action="Questions" class="dashboard-links-item certifications">Manage Questions</a></li>
    </ul>
</div>
