﻿@using System.Threading.Tasks
@using STS.Application.Filters
@inject IJsonHelper Json

@{
    ViewBag.Title = "Manage Questions";
    Layout = "_AdminLayout";

    var initialFilter = new Filter
    {
        RowsPerPage = 25,
        SortAscending = true,
        SortColumns = "",
        CurrentPage = 1
    };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a asp-controller="Admin" asp-action="EditQuestion" class="btn btn-accent pull-right"><span class="icon icon-plus"></span>Add New Question</a>
        </div>
    </div>
    <div id="questions" data-source-link="@Url.Action("GetQuestions")">
        @await Component.InvokeAsync("AdminQuestionsGrid", new { filter = initialFilter })
    </div>
</div>

@section Scripts {
    <script src="~/js/application/grid/ajaxGrid.js"></script>
    <script>
        $.fn.AjaxGrid($('#questions') ,@Json.Serialize(initialFilter));
    </script>
}
