﻿@using System.Threading.Tasks
@using STS.Application.Models.Report
@model ReportsViewModel

@{
    ViewBag.Title = "Reporting";
    Layout = "_AdminLayout";
}

<form asp-controller="Admin" asp-action="Reports" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div class="edit-form-wr">
        <h1>Reporting</h1>
        <div class="edit-form">
            <div class="edit-form-inner">
                <div class="title"><span>Select type</span></div>
                <div class="row edit-form-block vcenter">
                    <div class="col-xs-12 col-md-8">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label asp-for="ReportType"></label>
                                <select asp-for="ReportType" asp-items="@Model.Reports" class="chosen-select form-control" id="select-report"></select>
                            </div>
                        </div>
                        <div class="row" id="dates-block" style="display: none">
                            <div class="col-xs-6 form-group">
                                <label asp-for="StartDate"></label>
                                <input asp-for="StartDate" type="text" class="form-control report-date">
                                <span asp-validation-for="StartDate" class="error"></span>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label asp-for="EndDate"></label>
                                <input asp-for="EndDate" type="text" class="form-control report-date">
                                <span asp-validation-for="EndDate" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 form-group text-center">
                        <button id="generation" type="button" class="btn">Generate</button>
                    </div>
                </div>
                <div class="title"><span>Report</span></div>
                <div class="row edit-form-block">
                    <div id="chart-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/application/inputs/date.js"></script>
    <script src="~/js/application/report/chartContainer.js"></script>
    <script src="~/js/application/report/generation.js"></script>
    <script src="~/js/application/report/datesBlock.js"></script>
    <script src="~/js/application/report/reportTypes.js"></script>
    <script src="~/js/application/report/reports.js"></script>
    <script src="~/js/application/report/charts/supplierDistributionBySustainabilityLevelSpendAdjusted.js"></script>
    <script src="~/js/application/report/charts/SupplierDistributionBySustainabilityLevelTotal.js"></script>
    <script src="~/js/application/report/charts/supplierScope1Scope2Emissions.js"></script>
    <script src="~/js/application/report/charts/monthlySupplierParticipationTrendSpendAdjusted.js"></script>
    <script>
        $(function () {
            var options = {
                minViewMode: "months",
                todayHighlight: true,
                maxViewMode: "years",
                orientation: "bottom right"
            };
            $.fn.DateInput("#StartDate", options);
            $.fn.DateInput("#EndDate", options);
        });
        $.fn.Generation($('#generation'), $("#chart-container"));
        $.fn.DatesBlock($('#select-report'), $('#dates-block'));
    </script>
}
