﻿@using System.Threading.Tasks
@using STS.Application.Models.Category
@model CategoriesViewModel
@{
    ViewBag.Title = "Manage Sustainability Levels";
    Layout = "_AdminLayout";
}

<div id="sustainability-categories-content"></div>

@section Scripts{
    <environment names="Development,Nightly">
        <script src="~/lib/react/react.js"></script>
        <script src="~/lib/react/react-dom.js"></script>
        <script src="@Url.Content("~/js/application/react/components/confirmation.js")"></script>
        <script src="@Url.Content("~/js/application/react/components/inputGroup.js")"></script>
        <script src="@Url.Content("~/js/application/react/components/datepicker.js")"></script>
        <script src="@Url.Content("~/js/application/react/components/select.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/models.js")"></script>
        <script src="@Url.Content("~/js/application/react/stores/eventEmitter.js")"></script>
        <script src="@Url.Content("~/js/application/react/stores/baseStore.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/store.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/app.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/page.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/tab.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/tabs.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/items/document.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/items/survey.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/items/metric.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/containers/todoContainer.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/containers/documentContainer.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/containers/surveyContainer.js")"></script>
        <script src="@Url.Content("~/js/application/react/applications/sustanabilityApp/containers/metricContainer.js")"></script>
    </environment>
    <environment names="Staging,Production,QA">
        <script src="~/lib/react/react.min.js" asp-append-version="true"></script>
        <script src="~/lib/react/react-dom.min.js" asp-append-version="true"></script>
        <script src="~/js/sustanability.min.js" asp-append-version="true"></script>
    </environment>
    

    <script>
        ReactDOM.render(
            React.createElement(Sustainability.SustanabilityApplication,
            {
                model: @Json.Serialize(Model),
                saveLink: '@Url.Action("Rules")',
                redirectLink: '@Url.Action("Index", "Home")'
            }),
            document.getElementById('sustainability-categories-content'));
    </script>
}
