﻿@using STS.Application.Filters
@inject IJsonHelper Json

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Manage Users";

    var initialFilter = new Filter
    {
        RowsPerPage = 25,
        SortAscending = true,
        SortColumns = "",
        CurrentPage = 1
    };
}

<div class="container-fluid">
    <div id="users" data-source-link="@Url.Action("GetUsers", "Admin")">
        @await Component.InvokeAsync("AdminUsersGrid", new { filter = initialFilter })
    </div>
</div>

@section Scripts {
    <script src="~/js/application/grid/ajaxGrid.js"></script>
    <script>
        $.fn.AjaxGrid($('#users') ,@Json.Serialize(initialFilter));
    </script>
}
