﻿@using STS.Application.Filters;
@using STS.Application.Models.User
@using STS.Web.Extensions
@using STS.Web.Grid.Builders.Implementations

@model IFilterResult<UserItemViewModel>
@{
    Func<UserItemViewModel, object> nameRender = (x) =>
    {
        var link = Url.Action("EditUser", "Admin", new { userId = x.Id });
        var html = $"<a href=\"{link}\">{x.Name}</a>";
        return html;
    };

    Func<UserItemViewModel, object> actionsRender = (x) =>
    {
        var link = Url.Action("EditUser", "Admin", new { userId = x.Id });
        var html = $"<a href='{link}' class='icon-edit'></a>";
        return html;
    };

    var grid = new GridBuilder<UserItemViewModel>()
        .Columns(cols =>
        {
            cols.Define(c => c.Name).RenderAs(nameRender)
                .Titled("Name").HasWitdh("45%");

            cols.Define(c => c.Email).RenderAs(c => c.Email)
                .Titled("Email").HasWitdh("45%");

            cols.Define("Actions").RenderAs(actionsRender)
                .Titled("Edit").HasWitdh("10%").Sortable(false);
        })
        .EmptyText("No Users")
        .Pagination(pg =>
        {
            pg.PagesToDisplay(5);
            pg.TotalPages(Model.TotalPages);
            pg.PageSizes(25, 50, 75, 100);
        })
        .Rows(Model.Items)
        .SetupByFilter(Model.Filter)
        .Build();
}

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1>Manage Users</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a asp-controller="Admin" asp-action="EditUser" class="btn btn-accent pull-right"><span class="icon icon-plus"></span>Add New User</a>
    </div>
</div>

<div class="title-red">
    Total Users: <b>@Model.TotalItems</b>
</div>

<div class="table-responsive">
    @Html.Partial("Grid/Grid", grid)
</div>

@if (grid.Pager != null)
{
    <div class="ajax-grid-pager">
        @Html.Partial(grid.Pager.PartialViewName, grid.Pager)
    </div>
}
