﻿@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using STS.Application.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject IHostingEnvironment Environment;

@{
    Layout = "_Layout";
}

<header class="header container-fluid">
    <a class="header-logo" href="@Url.Content("~/")"></a>
    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="navbar pull-right" role="navigation">
            @Html.Partial("Partial/HeaderMenu")
        </nav>
    }
</header>

<div class="contentbox container-fluid">
    @RenderBody()
</div>

<footer class="footer">
    @{ await Html.RenderPartialAsync("_FooterPartial"); }
</footer>


@section Scripts{
    @RenderSection("scripts", required: false)
}