﻿@{
    Layout = "_BaseLayout";

    var userManagementChildActions = new[]
    {
        new ActionTagHelperModel{Controller = "Admin", Action = "EditUser"}
    };

    var leadManagementChildActions = new[]
    {
        new ActionTagHelperModel{Controller = "Admin", Action = "EditCompany"}
    };

    var sustainabilityChildActions = new[]
    {
        new ActionTagHelperModel {Controller = "Admin", Action = "Metrics"},
        new ActionTagHelperModel {Controller = "Admin", Action = "Documents"}
    };

    var questionsChildActions = new[]
    {
        new ActionTagHelperModel {Controller = "Admin", Action = "EditQuestion"}
    };
}

@section Menu{
    <ul>
        <menu-item controller-name="Admin" action-name="Index" menu-text="Admin Dashboard" title="Admin Dashboard" class="nav-left-link"></menu-item>
        <menu-item controller-name="Admin" action-name="Users" menu-text="Manage Users" child-actions="@userManagementChildActions" title="Manage Users" class="nav-left-link user"></menu-item>
        <menu-item controller-name="Admin" action-name="Companies" menu-text="Manage Companies" child-actions="@leadManagementChildActions" title="Manage Companies" class="nav-left-link suppliers"></menu-item>
        <menu-item controller-name="Admin" action-name="Reports" menu-text="Reporting" title="Reporting" class="nav-left-link reporting"></menu-item>
        <menu-item controller-name="Admin" action-name="Sustainability" menu-text="Company Sustainability" child-actions="@sustainabilityChildActions" title="Company Sustainability" class="nav-left-link sustainability"></menu-item>
        <menu-item controller-name="Admin" action-name="Rules" menu-text="Manage Sustainability Levels" title="Manage Sustainability Levels" class="nav-left-link steps"></menu-item>
        <menu-item controller-name="Admin" action-name="Questions" menu-text="Manage Questions" child-actions="@questionsChildActions" title="Manage Questions" class="nav-left-link certifications"></menu-item>
    </ul>
}

@RenderBody()

@section Scripts
{
    @RenderSection("Scripts", false)
}
