﻿@using System.Threading.Tasks
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using STS.Application.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject IHostingEnvironment Environment;

@{
    Layout = "_Layout";
    ViewBag.BodyClass = "bg-sand";
}

<header class="header nav-left-open">
    <div class="container-fluid">
        <nav class="navbar pull-right" role="navigation">
            @Html.Partial("Partial/HeaderMenu")
        </nav>
    </div>
</header>

<div class="contentbox">
    <aside class="nav-left">
        <div class="nav-left-menu">
            <span class="nav-left-menu-collapse">
                <span class="nav-left-menu-btn">
                    <span></span>
                </span>
            </span>
        </div>
        @RenderSection("Menu", false)
    </aside>

    <section class="page nav-left-open">
        @RenderBody()
    </section>
</div>


<footer class="footer nav-left-open">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 footer-copyright">
                © @DateTime.Today.Year STS
            </div>
        </div>
    </div>
</footer>

@section Scripts{
    @RenderSection("scripts", required: false)
}