﻿<environment names="Development,Nightly">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/js/application/fixedChosen.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/lib/jquery.inputmask/dist/min/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/js/application/uibehaviour/defaultValidationBehaviour.js" asp-append-version="true"></script>
    <script src="~/js/application/uibehaviour/uiBehavior.js" asp-append-version="true"></script>
    <script src="~/js/application/uibehaviour/scrollbar.js" asp-append-version="true"></script>
    <script src="~/js/application/code-selection.js" asp-append-version="true"></script>
    <script src="~/lib/highcharts/highcharts.js"></script>
</environment>

<environment names="QA,Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>