﻿@{
    Layout = "_BaseLayout";

    var userManagementChildActions = new[]
    {
        new ActionTagHelperModel {Controller = "Company", Action = "EditUser"}
    };

    var documentManagementChildActions = new[]
    {
        new ActionTagHelperModel {Controller = "Company", Action = "AddDocument"}
    };
}

@section Menu{
    <ul>
        <menu-item controller-name="Company" action-name="Index" menu-text="Admin Dashboard" title="Admin Dashboard" class="nav-left-link"></menu-item>
        <menu-item controller-name="Company" action-name="Users" menu-text="Manage Users" title="Manage Users" child-actions="@userManagementChildActions" class="nav-left-link user"></menu-item>
        <menu-item controller-name="Company" action-name="Sustainability" menu-text="Accomplishments & Steps to Next Level" title="Accomplishments & Steps to Next Level" class="nav-left-link accomplishment"></menu-item>
        <menu-item controller-name="Company" action-name="Metrics" menu-text="Environmental Data" title="Environmental Data" class="nav-left-link recorders"></menu-item>
        <menu-item controller-name="Company" action-name="Documents" menu-text="Document Progress" title="Document Progress" child-actions="@documentManagementChildActions" class="nav-left-link document"></menu-item>
        <menu-item controller-name="Company" action-name="Survey" menu-text="Survey" title="Survey" class="nav-left-link certifications"></menu-item>
    </ul>
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
}
