﻿@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment Environment;
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 footer-copyright">
            © @DateTime.Today.Year STS
        </div>
    </div>
</div>