﻿@using System.Threading.Tasks

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - STS</title>

    <environment names="Development,Nightly">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link href="~/lib/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet"/>
        <link href="~/lib/chosen/chosen.css" rel="stylesheet"/>
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet"/>
        <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/css/main.css"/>
    </environment>
    <environment names="QA,Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    </environment>
</head>
<body  class="@ViewBag.BodyClass">
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.</p>
    <![endif]-->

    @RenderBody()

    @{ await Html.RenderPartialAsync("_CommonScriptsPartial"); }

    @RenderSection("scripts", required: false)
</body>
</html>
