﻿<environment names="Development,Nightly,QA">
    <script src="~/js/application/auth/confirmationPopupLogic.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/application/auth/confirmationPopupLogic.js"></script>
</environment>

