﻿@using System.Threading.Tasks
@using STS.Application.Filters;
@using STS.Application.Models.Admin
@using STS.Web.Extensions
@using STS.Web.Grid.Builders.Implementations

@model IFilterResult<CompanyItemViewModel>
@{
    Func<CompanyItemViewModel, object> nameRender = (x) =>
    {
        var link = Url.Action("EditCompany", "Admin", new {companyId = x.Id});
        var html = $"<a href=\"{link}\">{x.Name}</a>";
        return html;
    };

    Func<CompanyItemViewModel, object> actionsRender = (x) =>
    {
        var link = Url.Action("EditCompany", "Admin", new {companyId = x.Id});
        var html = $"<a href=\"{link}\" class=\"icon-edit\"></a>";
        return html;
    };

    var grid = new GridBuilder<CompanyItemViewModel>()
        .Columns(cols =>
        {
            cols.Define(c => c.Name).RenderAs(nameRender)
                .Titled("Company Name").HasWitdh("10%");

            cols.Define(c => c.Site).RenderAs(c => c.Site)
                .Titled("Website").HasWitdh("10%");

            cols.Define(c => c.SustainabilityCategory).RenderAs(c => c.SustainabilityCategory)
                .Titled("Level").HasWitdh("15%");

            cols.Define(c => c.AnnualProcurementBudget).RenderAs(c => c.AnnualProcurementBudget)
                .Titled("Annual Procurement Budget").HasWitdh("10%");

            cols.Define("Actions").RenderAs(actionsRender)
                .Titled("Edit").HasWitdh("5%").Sortable(false);
        })
        .EmptyText("No Companies")
        .Pagination(pg =>
        {
            pg.PagesToDisplay(5);
            pg.TotalPages(Model.TotalPages);
            pg.PageSizes(25, 50, 75, 100);
        })
        .Rows(Model.Items)
        .SetupByFilter(Model.Filter)
        .Build();
}

<div class="title-red">
    Total Companies: <b>@Model.TotalItems</b>
</div>

<div class="table-responsive">
    @Html.Partial("Grid/Grid", grid)
</div>

@if (grid.Pager != null)
{
    <div class="ajax-grid-pager">
        @Html.Partial(grid.Pager.PartialViewName, grid.Pager)
    </div>
}
