﻿@{
    ViewBag.Title = "Error";
    Layout = "_AccountLayout";
}

<div class="survey-page clearfix j-custom-scroll">
    <h1 class="title-red">Something went wrong</h1>
    <div class="survey">
        <p>
            We’re sorry! Something went wrong.
        </p>
    </div>
</div>