﻿@model STS.Application.Models.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "_AccountLayout";
}

<div class="signup">
    <div class="title">
        <span>@ViewBag.Title</span>
    </div>
    <div class="signup-body">
        <form asp-action="ForgotPassword" class="signup-form" asp-anti-forgery="true">
            <div class="form-group">
                <label asp-for="Email">Enter your Email:</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="alert-success">@ViewBag.SuccessText</div>
            <div class="row signup-btn">
                <div class="col-xs-12 col-md-6 pull-right">
                    <button class="btn" type="submit">Restore</button>
                </div>
            </div>
        </form>
    </div>
</div>
