﻿@{
    ViewBag.Title = "Invalid link";
    Layout = "_BaseLayout";
}

<div class="survey-page clearfix j-custom-scroll">
    <h1 class="title-red">Link is no longer valid!</h1>
    <div class="survey">
        <p>
            We’re sorry!  Your STS login credentials have expired.
        </p>
    </div>
</div>
