﻿@model dynamic

@{
    ViewBag.Title = "Lock";
    Layout = "_AccountLayout";
}

<div class="survey-page clearfix j-custom-scroll">
    <h1 class="title-red">Lock!</h1>

    <div class="survey">
        <h2>@ViewData["Message"]</h2>
    </div>
</div>
