﻿@model STS.Application.Models.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "_AccountLayout";
}

<div class="signup">
    <div class="title">
        <span>Reset Password</span>
    </div>
    <div class="signup-body">
        <form asp-action="ResetPassword" class="signup-form" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" data-indicator="pwindicator" />
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <div class="row signup-btn">
                <div class="col-xs-12 col-md-8 pull-right">
                    <button class="btn" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

