﻿@using System.Threading.Tasks
@using STS.Application.Models.Account
@model SignInViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "_AccountLayout";
}

<div class="signup">
    <div class="title">
        <span>Sign in</span>
    </div>
    <div class="signup-body">
        <form asp-controller="Account" asp-action="SignIn" method="post" class="signup-form" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="row signup-btn">
                <div class="col-xs-12 col-md-6">
                    <div class="checkbox-toggle">
                        <input asp-for="RememberMe" class="checkbox"/>
                        <label asp-for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 pull-right">
                    <button class="btn" type="submit">Sign in</button>
                </div>
                <div class="col-xs-12 text-center">
                    <a asp-action="ForgotPassword" class="signup-help">Get Sign In Help</a>
                </div>
            </div>
        </form>
    </div>
</div>

