﻿@using STS.Application.Models.Account
@model SignUpViewModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "_AccountLayout";
}

<div class="signup">
    <div class="title">
        <span>Sign up</span>
    </div>
    <div class="signup-body">
        <form asp-controller="Account" asp-action="SignUp" id="set-password-form" method="post" class="signup-form" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SecurityKey" type="hidden" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" data-indicator="pwindicator" />
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <button class="btn signup-btn" id="btn-show-terms" type="submit">Sign up</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dialog-confirm" tabindex="-1" role="dialog" aria-labelledby="dialog-confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-scrollbox">
                <div class="modal-header">
                    <p class="modal-title" id="myModalLabel">Terms of use</p>
                </div>
                <div class="modal-body">
                    <h3>Exercitation Ullamco</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et pretium lorem, a dapibus diam. Donec in sapien orci. Proin vitae iaculis neque. Nulla odio nibh, sollicitudin in est sed, bibendum maximus felis. Aenean quis condimentum ex. Sed sit amet libero dapibus, commodo est eu, tempus enim. Integer porta justo nec consectetur dignissim. Vestibulum nisi erat, scelerisque ac condimentum et, scelerisque eleifend ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed elementum arcu sed neque auctor dignissim. </p>
                    <p>Phasellus vitae mi vel dolor eleifend ultrices in a arcu. Quisque tristique massa et sodales ullamcorper. Vivamus ac vestibulum dolor, ut efficitur libero. Praesent ultricies vulputate leo eget lobortis. Proin condimentum neque sit amet arcu tincidunt maximus. Cras lobortis mauris sem, sed sollicitudin arcu dapibus nec. Phasellus enim elit, ornare in ornare ut, facilisis a neque. Cras volutpat mauris vitae gravida mattis. Vestibulum id pharetra nulla. Suspendisse gravida sem at urna blandit, mattis maximus lorem pellentesque. Donec eu nibh commodo odio fringilla malesuada. Fusce ac iaculis erat, ac ultricies odio. Nunc non turpis quis enim blandit maximus nec a nulla.</p>
                    <h3>Tempora Incidunt</h3>
                    <p>Aliquam quam elit, ultricies at mauris et, laoreet feugiat nibh. Vivamus egestas sem quis massa ultrices scelerisque. Sed dignissim sed nulla quis dapibus. Phasellus vel metus mi. Vivamus sed sapien mollis, imperdiet ligula quis, semper nisl. Fusce sagittis justo sit amet risus volutpat pellentesque. Quisque accumsan, mauris a vulputate venenatis, ipsum elit laoreet justo, eu aliquet purus augue ac sem. Aliquam in nibh lobortis, accumsan libero nec, commodo quam. Mauris a accumsan arcu. Praesent tincidunt eros eget elit dictum efficitur. Etiam eget lorem sem.</p>
                    <h3>Omnis iste Natus</h3>
                    <p>Donec justo ex, varius ut sodales sit amet, sagittis ut turpis. Pellentesque porta, felis placerat vestibulum tincidunt, massa leo sollicitudin ex, blandit congue nisl tellus in risus. Maecenas vitae auctor velit. Sed eu fermentum dolor. Donec vel gravida nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a libero quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed faucibus, augue vestibulum interdum malesuada, dui lorem blandit tortor, quis convallis mauris ex non mi. Aenean viverra enim ac feugiat sodales. Morbi non mi vehicula, hendrerit lacus non, pretium lectus. Phasellus fringilla eleifend leo a fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>Pellentesque tempus ut mauris viverra sollicitudin. Nam consectetur nulla vitae odio lobortis, in volutpat diam tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In a ullamcorper elit. Nullam quis diam lacinia, sollicitudin turpis ac, facilisis diam. Integer ut nisl elementum, mollis enim at, hendrerit lectus. Aenean enim libero, imperdiet eu erat sed, mollis lobortis magna.</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p class="modal-footer-text">Do you accept the Terms of Use?</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <button type="button" class="btn btn-default col-xs-12 col-md-6" id="btn-dont-accept-terms" data-dismiss="modal">I don't accept</button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <button type="button" class="btn col-xs-12 col-md-6 pull-right" id="btn-accept-terms" data-dismiss="modal">I accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-explanation" style="margin-top: 250px" tabindex="-1" role="dialog" aria-labelledby="dialog-explanation-label" aria-hidden="true">
    <div class="modal-dialog" style="width: 220px">
        <div class="modal-content">
            <div style="padding: 20px">
                <p class="text-center">
                    In order to access the STS, you must accept the terms of use.
                </p>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary col-xs-12 col-md-6" style="margin-bottom:0" id="btn-accept-explanation" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    @{ await Html.RenderPartialAsync("_PasswordSettingScriptsPartial");}
}
