﻿@using System.Threading.Tasks
@using STS.Application.Models.Sustainability.AchievementItems
@using STS.Application.Models.Sustainability.AchievementItems.SuitableItems
@using STS.CrossCutting.Utils
@model IList<BaseAchievementItemViewModel>

@{
    var items = Model.Cast<DocumentAchievementItemViewModel>();
}

@foreach (var achievementModel in items)
{
    <div class="c-levels-description-item">
        <div class="c-levels-description-text">
            @if (achievementModel.Achieved)
            {
                <div class="icon icon-level-check">
                    @foreach (var document in achievementModel.Documents)
                    {
                        <p>
                            The document, <a href="@Url.Action("DownloadFile", "Documents", new {id = document.Id})">"@document.Name"</a>
                           @achievementModel.DocumentTypeName will be used to support your company's sustainability level in the STS until @document.ExpireDate.ToString(@"MM\/dd\/yy").
                            This date is @achievementModel.ConsiderationTimeInMonths months @(((Enum) achievementModel.ConsiderationTime).DisplayName().ToLowerInvariant()).
                        </p>
                    }
                </div>
            }
            else
            {
                <p class="icon icon-level-clock">
                    <b>
                        @(achievementModel.Documents?.Count > 0
                              ? $"You've uploaded {achievementModel.Documents.Count}(s) {achievementModel.DocumentTypeName}. Please upload {achievementModel.Quantity - (achievementModel.Documents.Count)} additional {achievementModel.DocumentTypeName}(s)."
                              : $"Upload {achievementModel.Quantity} {achievementModel.DocumentTypeName}(s)")
                    </b>
                </p>
                <p>
                    @achievementModel.DocumentTypeName will be used to support your company's sustainability level.
                    @(achievementModel.Quantity > 1 ? "They" : "It") will support your sustainability level for @achievementModel.ConsiderationTimeInMonths months @(((Enum) achievementModel.ConsiderationTime).DisplayName().ToLowerInvariant()).
                </p>

                foreach (var document in achievementModel.Documents ?? new List<DocumentItemViewModel>())
                {
                    <p>
                        <a href="@Url.Action("DownloadFile", "Documents", new {id = document.Id})">@achievementModel.DocumentTypeName</a> will be used to support your company's sustainability level in the STS until @document.ExpireDate.ToString(@"MM\/dd\/yy").
                        It will support your sustainability level for @achievementModel.ConsiderationTimeInMonths months @(((Enum)achievementModel.ConsiderationTime).DisplayName().ToLowerInvariant()).
                    </p>
                }
            }
        </div>
    </div>
}
