﻿@using STS.Application.Models.Sustainability.AchievementItems
@using STS.CrossCutting.Enums
@using STS.CrossCutting.Utils
@model IList<BaseAchievementItemViewModel>

@{
    var items = Model.Cast<MetricAchievementItemViewModel>();
}

@foreach (var item in items)
{
    var beavior = (item.Increase ? "increase" : "reduction");
    var timeConsidirationToUserString = item.ConsiderationTime == MetricConsideration.FromEnterDate
        ? "from the date when you submitted this information to the STS"
        : "from the end of the time period associated with this accomplishment";
    var trendString = ((Enum) item.MetricTrend).DisplayName();
    var trendStringLower = char.ToLowerInvariant(trendString[0]) + trendString.Substring(1);
    var trendHeading = $"{(item.Increase ? "Increase" : "Decrease")} {trendStringLower} by {item.ThresholdByRule}%";
    <div class="c-levels-description-item">
        <div class="c-levels-description-text">
            @if (item.Achieved)
            {
                <p class="icon icon-level-check">
                    @trendHeading
                </p>
                <p class="icon-level-check">
                    Your @trendStringLower @(item.Increase ? "increase" : "decrease") by @($"{Math.Abs(item.ThresholdCurrent):0}")%,
                    which satisfied the requirement of a @(item.ThresholdByRule)% @beavior in comparison to the base year.
                    Your accomplishment of @(((Enum)item.MetricTrend).DisplayName()) @beavior will be used to support your company's sustainability level in the STS
                    until @item.ExpireDate.ToString(@"MM\/dd\/yy"). This date is @item.ConsiderationTimeInMonths months @timeConsidirationToUserString.
                </p>
            }
            else
            {
                <p class="icon icon-level-clock">
                    <b>
                       @trendHeading
                    </b>
                </p>
                <p>
                    @(((Enum)item.MetricTrend).DisplayName()) should be @(item.Increase ? "increase" : "decrease") by @(item.ThresholdByRule)% in comparison to base year.
                </p>
                <p>
                    Your accomplishment of @trendStringLower will be used to support your company's sustainability level
                    for @item.ConsiderationTimeInMonths months @timeConsidirationToUserString.
                </p>
            }
        </div>
    </div>
}
