﻿@using STS.Application.Models.Sustainability.AchievementItems
@model IList<BaseAchievementItemViewModel>

@{
    var achievementCollection = Model.Cast<SurveyAchievementItemViewModel>();
}

@foreach (var achievementModel in achievementCollection)
{
    <div class="c-levels-description-item">
        <div class="c-levels-description-text">
            @if (achievementModel.Achieved)
            {
                <p class="icon icon-level-check">
                    You've completed survey with @achievementModel.RequiredScores point(s).
                </p>
            }
            else
            {
                <p class="icon icon-level-clock">
                    <b>Required survey points: @achievementModel.RequiredScores</b>
                </p>
            }
        </div>
    </div>
}
