﻿@using System.Threading.Tasks
@using STS.Application.Models.Sustainability
@using STS.CrossCutting.Enums
@using SustainabilityLevel = STS.Application.Models.Sustainability.SustainabilityLevel
@model SustainabilityPageViewModel
@addTagHelper STS.Web.TagHelpers.CategoryTabTagHelper, STS.Web

@{
    Layout = null;

    var pageSettings = (SustainabilityPageSettingsViewModel)ViewBag.PageSettings;

    var targetController = pageSettings.Controller;
    var targetAction = pageSettings.Action;

    var achievements = Model.TargetCategoryModel.Achievements;
    var documentAchievement = achievements.First(x => x.AchievementType == TodoType.DocumentTodo);
    var surveyAchievement = achievements.First(x => x.AchievementType == TodoType.SurveyTodo);
    var metricAchievement = achievements.First(x => x.AchievementType == TodoType.MetricTodo);

    var shouldDisplayButton =
        Model.Categories.Max(x => x.OrderWeight) > Model.TargetCategoryWeight ||
        Model.CurrentCategoryWeight < Model.TargetCategoryWeight;

    var currentCategoryLink = Url.Action(targetAction, targetController, new { categoryId = Model.CurrentCategoryId });

    var nextCategoryLink = Url.Action(targetAction, targetController, new { categoryId = Model.CurrentCategoryId + 1 });

    var titlePanelClass = Model.TargetCategoryLevel == SustainabilityLevel.Current
        ? "current"
        : "";

    var hasItems = documentAchievement.AchievementItems.Any() || surveyAchievement.AchievementItems.Any() || metricAchievement.AchievementItems.Any();
}

<div class="edit-form-wr">
    <h1>@pageSettings.HeaderTitle</h1>

    <div class="edit-form edit-form-content">
        <div class="c-levels-wr">
            <div class="c-levels">
                @if (Model.CurrentCategoryId == 0)
                {
                    <a href="@currentCategoryLink" class="c-levels-item c-levels-item-red active">
                        <b class="c-levels-item-check"><span></span></b>
                        <span>No response</span>
                        (Current)
                    </a>
                }
                else
                {
                    <a href="javascript:void(0)" class="c-levels-item">
                        <b class="c-levels-item-check"><span></span></b>
                        <span>No response</span>
                        (Achieved)
                    </a>
                }

                @foreach (var item in Model.Categories)
                {
                    <category-tab controller="@targetController" action="@targetAction" item="@item" category-id="@Model.TargetCategoryId">
                    </category-tab>
                }
            </div>
        </div>

        <div class="panel-collapse">
            <div class="title @titlePanelClass">
                @if (Model.TargetCategoryLevel == SustainabilityLevel.Current)
                {
                    <span>Current Sustainability Level: @Model.TargetCategoryName</span>
                }
                else if (Model.TargetCategoryLevel == SustainabilityLevel.Next)
                {
                    <span>Next Sustainability Level: @Model.TargetCategoryName</span>
                }
                else if (Model.TargetCategoryLevel == SustainabilityLevel.Future)
                {
                    <span>Future Sustainability Level: @Model.TargetCategoryName</span>
                }

                @if (Model.TargetCategoryLevel == SustainabilityLevel.Current && shouldDisplayButton)
                {
                    <a href="@nextCategoryLink" class="btn btn-cancel next">Steps to Next Level</a>
                }
                else if (Model.TargetCategoryLevel != SustainabilityLevel.Current && shouldDisplayButton)
                {
                    <a href="@currentCategoryLink" class="btn btn-cancel back">Back to Current Level</a>
                }
            </div>

            @if ((Model.TargetCategoryLevel == SustainabilityLevel.Future || Model.TargetCategoryLevel == SustainabilityLevel.Next) && hasItems)
            {
                <p class="subtitle">Requirements to Complete this Sustainability Level</p>
                <p style="padding: 0 0 0 58px; margin-top: -10px">NOTE: The rules for all preceding sustainability levels must be satisfied in addition to the requirements for this sustainability level, which are described below.</p>
            }

            <div class="panel-body c-levels-description">
                <div class="panel-group">
                    @if (Model.CurrentCategoryId == 0 && Model.TargetCategoryId == 0)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    No Activity
                                </h4>
                            </div>
                        </div>
                    }

                    @if (hasItems)
                    {
                        if (documentAchievement.AchievementItems.Any())
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#achievements">Achievements</a>
                                    </h4>
                                </div>
                                <div id="achievements" class="panel-collapse collapse in">
                                    <div class="panel-body c-level-description">
                                        @Html.Partial("SupplierSustainability/DocumentAchievementsView", documentAchievement.AchievementItems)
                                    </div>
                                </div>
                            </div>
                        }

                        if (surveyAchievement.AchievementItems.Any())
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#surveys">Survey Status</a>
                                    </h4>
                                </div>
                                <div id="surveys" class="panel-collapse collapse in">
                                    <div class="panel-body c-level-description">
                                        @Html.Partial("SupplierSustainability/SurveyAchievementsView", surveyAchievement.AchievementItems)
                                    </div>
                                </div>
                            </div>
                        }

                        if (metricAchievement.AchievementItems.Any())
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#metrics">Metric Trends</a>
                                    </h4>
                                </div>
                                <div id="metrics" class="panel-collapse collapse in">
                                    <div class="panel-body c-level-description">
                                        @Html.Partial("SupplierSustainability/MetricAchievementsView", metricAchievement.AchievementItems)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    There are no rules configured for this level.
                                </h4>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
