﻿@{
    ViewBag.Title = "Error";
    Layout = "_AccountLayout";
}
<div class="error-mesage">
    <h2>Unexpected error has occurred.</h2>
    <p>Sorry, unexpected error has just occurred while trying to process your request. </p>
</div>