﻿@addTagHelper STS.Web.TagHelpers.SustainabilityTabTagHelper, STS.Web
@using System.Threading.Tasks
@using STS.Application.Models.ManageSustainability
@model BaseSustainabilityTabModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Supplier Sustainability";
    var filterConfig = new { companyId = Model.CompanyId };
}

<div class="edit-form-wr">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>Supplier Sustainability</h1>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="pull-right select-white h-mt10">
                <div class="header-select">
                    @await Component.InvokeAsync("AdminFilter", filterConfig)
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs h-mt10">
        <menu-tab supplier-id="@Model.CompanyId" controller="Admin" action="Sustainability" text="Sustainability Level"></menu-tab>
        <menu-tab supplier-id="@Model.CompanyId" controller="Admin" action="Metrics" text="Environmental Data"></menu-tab>
        <menu-tab supplier-id="@Model.CompanyId" controller="Admin" action="Documents" text="Documents"></menu-tab>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
    <script>
        // TODO: extract into another class
        var onFilterChanged = function () {
            var url = $(this).val();
            window.location = url;
        };

        var chosen = $("#sustanability-filter").fixedChosen();
        chosen.on("change", onFilterChanged);
    </script>
}
