﻿@using STS.Application.Models.ManageSustainability
@model DocumentsViewModel

@{
    Layout = "Sustainability/_SustainabilityLayout";
    ViewBag.Title = "Manage Documents";

    var initialFilter = new DocumentsFilter
    {
        RowsPerPage = 25,
        SortAscending = true,
        SortColumns = "",
        CurrentPage = 1,
        DocumentTypeId = 0
    };

    var selectItems = Model.DocumentTypes.Select(x =>
    {
        var item = new SelectListItem
        {
            Value = x.Id.ToString(),
            Text = x.Name,
        };
        return item;
    });
}

<div id="documents-filters" class="clearfix">
    <div class="pull-right">
        <span>Document Type</span>
        <select asp-items="@selectItems">
            <option value="0">Dont filter</option>
        </select>
    </div>
</div>

<div id="documents" data-source-link="@Url.Action("GetDocuments")" class="h-mt20">
    @await Component.InvokeAsync("AdminDocumentsGrid", new { filter = initialFilter, companyId = Model.CompanyId })
</div>

@section Scripts {
    <script src="~/js/application/uibehaviour/popoverBehaviour.js"></script>
    <script src="~/js/application/grid/ajaxGrid.js"></script>
    <script src="~/js/application/grid/documentsAjaxGrid.js"></script>
    <script src="~/js/application/lead/documentsFilterableAjaxGrid.js"></script>

    <script>
        $.fn.DocumentsFilterableAjaxGrid($('#documents'), $("#documents-filters"), @Json.Serialize(initialFilter), @Model.CompanyId);
    </script>
}