@using System.Threading.Tasks
@using STS.Application.Models.Company
@model MetricsViewModel

<h1>Metrics</h1>
<input type="hidden" asp-for="Id" />
<div class="col-sm-8">
    <div class="edit-form">
        <div class="edit-form-inner">
            <div class="title">
                <span>Year of metric</span>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6 form-group">
                    <input asp-for="LastDayOfTheYear" type="text" class="form-control" disabled="disabled" readonly="readonly">
                </div>
            </div>

            <div class="title">
                <span>Revenue</span>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6 form-group">
                    <label></label>
                    <input asp-for="Revenue" class="form-control" disabled="disabled" maxlength="16">
                </div>
            </div>

            <div class="title">
                <span>Mergers, Acquisitions, Divestiture</span>
            </div>

            @if (Model.Merged)
            {
                <div class="row edit-form-block" id="details-block">
                    <div class="col-sm-12 form-group">
                        <label>Details</label>
                        <textarea asp-for="Details" class="form-control" disabled="disabled" rows="4"></textarea>
                    </div>
                </div>
            }
            else
            {
                <div class="row edit-form-block">
                    <div class="col-sm-12 form-group">
                        Didin't participated in a merger, acquisition, or divestiture
                    </div>
                </div>
            }

            <div class="title">
                <span>Emmisions</span>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Scope 1 (tonnes of CO<sub>2</sub>)</label>
                        <input asp-for="Scope1" class="form-control" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Scope 2 - Market-Based (tonnes of CO<sub>2</sub>)</label>
                        <input asp-for="Scope2" class="form-control" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Scope 3 (tonnes of CO<sub>2</sub>)</label>
                        <input asp-for="Scope3" class="form-control" disabled="disabled">
                    </div>
                </div>
            </div>


            <div class="title">
                <span>Energy</span>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Electrical (kwh)</label>
                        <input asp-for="Electrical" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Natural Gas (therms)</label>
                        <input asp-for="NaturalGas" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Gasoline (gallons)</label>
                        <input asp-for="Gasoline" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Diesel (gallons)</label>
                        <input asp-for="Diesel" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Aviation Fuel (gallons)</label>
                        <input asp-for="AviationFuel" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Propane (KG)</label>
                        <input asp-for="Propane" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="title">
                <span>Water</span>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Potable Gallons Used</label>
                        <input asp-for="PotableGallons" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Non-Potable Gallons Used</label>
                        <input asp-for="NonPotableGallons" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="title">
                <span>Solid Waste</span>
            </div>

            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Amount Sent to Landfills (tons)</label>
                        <input asp-for="AmountSentToLandfills" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Amount Recycled (tons)</label>
                        <input asp-for="AmountRecycled" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row edit-form-block">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Amount Composed (tons)</label>
                        <input asp-for="AmountComposted" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
