﻿@using System.Globalization
@using System.Threading.Tasks
@using STS.Application.Models.Company
@using STS.Application.Models.ManageSustainability
@model MetricsModel

@{
    ViewBag.Title = "Metrics";
    Layout = "Sustainability/_SustainabilityLayout";
    Model.Metrics.Metrics = Model.Metrics.Metrics ?? new List<MetricItemViewModel>();
}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("Sustainability/MetricPartial", Model.Metrics)

        <div class="col-sm-4 f-14">
            <h2 class="h-mb10">Previous Numbers</h2>

            <div class="previous-numbers">
                @foreach (var metric in Model.Metrics.Metrics)
            {
                var buttonStyle = "btn-edit";
                if (metric.Id == Model.Metrics.Id)
                {
                    buttonStyle = "btn-submit";
                }
                <!--TODO: Set param-->
                    <a href="@Url.Action("Metrics", new {id = Model.CompanyId, metricId = metric.Id})" class="btn @buttonStyle col-xs-12 h-mt5">
                        @metric.MetricDate.ToString(@"MMMM dd,yyyy", CultureInfo.CreateSpecificCulture("en-US"))
                    </a>
                }
            </div>
        </div>
    </div>
</div>
