﻿.chosen-container {
    color: $gray;

    .select-white & {
        background: $white;
    }

    .chosen-drop {
        z-index: 1040;
        max-height: 150px;
        overflow-y: hidden;
    }

    .chosen-single {
        background: inherit;
        border-radius: 0;
        border-color: $sand;
        box-shadow: none;
        padding: 2px 0 0 9px;
        height: 32px;

        div {
            b {
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 5.5px 0 5.5px;
                border-color: $light-blue transparent transparent transparent;
                position: absolute;
                top: 50%;
                margin-top: -3px;
            }
        }
    }

    .chosen-search {

        input[type="text"] {
            border-color: $sand;
        }
    }

    &.chosen-container-active .chosen-single {
        background: inherit;
        box-shadow: none;
    }

    .chosen-results {
        padding: 0;
        margin: 0;
        max-height: 120px;

        li {
            background: none;
            margin: 0;
            padding: 7px 9px;

            &.highlighted {
                background: #f7fafc;
                color: $hover-blue;
            }
        }
    }
}

.select-company {
    display: inline-block;
    margin-top: 7px;

    .chosen-container {
        width: 176px !important;
        margin-left: 13px;
    }
}

.select-per-page {
    .chosen-container {
        width: 65px !important;
        margin-left: 8px;
        background: $white;
    }
}
