@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    font-style: normal;
    font-weight: 400;
    src: local('Franklin Gothic Demi Cond'), local('FranklinGothicDemiCond-Regular'), url("../fonts/franklin-gothic-demi-cond.woff") format('woff'), url("../fonts/franklin-gothic-demi-cond.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: Verdana, Geneva, DejaVu, Sans, Sans-serif;
    color: $gray;
    background: $blue;
    font-size: 16px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 12px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

.survey ul,
.list {
    list-style: none;
    margin: 10px 0 12px;

    li {
        margin-bottom: 5px;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
            margin-top: -2px;
            height: 6px;
            width: 6px;
            background: $red;
        }
    }
}

blockquote, q {
    quotes: none;

    &:before,
    &:after {
        content: '';
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 5px;
    font-weight: 600;
}

h1 {
    color: $red;
    margin-bottom: 20px;
    @include font-franklin(32px);
}

h2 {
    color: $blue;
    @include font-franklin(21px);
}

h3 {
    color: $blue;
    @include font-franklin(16px);
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

p {
    margin-bottom: 8px;
}

:focus {
outline: none;
}

a {
    color: $light-blue;
    text-decoration: none;

    &:hover {
        color: $hover-blue;
        text-decoration: underline;
    }

    &:focus,
    &:active,
    &:active:focus,
    &.active:focus,
    &:active.focus,
    &.active.focus {
        color: inherit;
        text-decoration: none;
    }
}

input {
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid $sand;
    background: none;
    outline: none;
    font-size: 14px;

    &:focus {
        border-color: $light-blue;
        outline: none;
    }

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
}

.error {
    color: $red;
}

.has-error .error,
.field-validation-error,
.validation-summary-errors {
    position: relative;
    margin: 5px 0 0;
    display: block;
    padding: 8px 10px 8px 40px;
    line-height: 15px;
    border: 1px solid #c37000;
    color: #c37000;
    font-size: 13px;
    z-index: 3;
    background: #fce9b7 url('../images/icon-warning.png') no-repeat 10px 50%;
    word-wrap: break-word;
    word-break: keep-all;
    
    .status-time & {
        margin-top: 33px;

        @include media ('<992px') {
            margin-top: 5px;
        }
    }
}

.validation-summary-errors {
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 40px;
    min-width: 360px;

    @include media('<=phone') {
        padding: 0 20px;
    }

    .page & {
        padding: 19px;
    }

    &.grid-col-2 {
        padding: 0 19px;

        @include media('<=992px') {
            padding: 19px;
        }
    }
}

.bg-sand {
    background: $page;
}

.bg-gray {
    background: $page-gray;
}

.bg-red {
    background: $red;
}

.page {
    background: $page;
}

.contentbox {
    margin-bottom: 44px;

    @include media('<=tablet') {
        margin-bottom: 79px;
    }

    .page {

        .container-fluid {
            padding-bottom: 120px;

            @include media('<=tablet') {
                padding-bottom: 60px;
            }

            &.grid-col-2 {
                padding-bottom: 0;

                .col-right {
                    padding-bottom: 60px;
                }
            }
        }
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.browsehappy {
    color: $white;
    background: $red;
    text-align: center;
    padding: 20px;
}

.relative {
    position: relative;
}

.icon {
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        position: absolute;
    }
}

.title-red {
    background: $red;
    color: $white;
    font-size: 14px;
    padding: 7px 11px;

    a {
        color: $white;
        text-decoration: underline;
        @include font-franklin(18px);
    }
}

.select-company {
    display: inline-block;
    margin-top: 7px;

    .chosen-container {
        width: 176px !important;
    }
}

.select-per-page .chosen-container {
    width: 65px !important;
}

.f-blue {
    color: $blue;
}

.inactive {
    opacity: .7;
}

.alert {
    @include border-radius(0);

    &-success {
        background-color: transparent;
        border-color: transparent;
    }
}

.note {
    display: block;
    background: $note-blue;
    color: $hover-blue;
    font-size: 13px;
    line-height: 18px;
    padding: 9px 20px 9px 51px;
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        background: url(../images/icons.png) no-repeat 0 -40px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
    }
}

.h-mt5 {
    margin-top: 5px;
}

.h-mt10 {
    margin-top: 10px;
}

.h-mt20 {
    margin-top: 20px;
}

.h-mt30 {
    margin-top: 30px;
}

.h-mb10 {
    margin-bottom: 10px;
}

.h-w100 {
    width: 100%;
}

.hidden {
    display: block;
}

.hidden-v {
    visibility: hidden;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.j-custom-scroll {
    overflow-y: auto;
}

.alert-warning {
    background: #fce9b7 url('../images/icon-warning.png') no-repeat 15px 50%;
    padding: 15px 15px 15px 50px;
    border: 1px solid #c37000;
    color: #c37000;
    @include border-radius(0);
}

.d-ib {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}

.vcenter {
    display: flex;
    align-items: center;

    @include media('<=tablet') {
        display: block;

        .text-center {
            text-align: left;
        }
    }
}

.grid-right-aside {
    display: flex;

    @include media('<=992px') {
        display: block;
    }
}

.col-right {
    background: $white;
    border-left: 1px solid $sand;
    padding-top: 10px;

    @include media('<=992px') {
        border: 0;
        margin-top: 30px;
    }
}

.previous-numbers {
    margin-top: 15px;

    .btn {
        @include font-franklin(18px);
        text-transform: none;
        margin: 0 0 20px;
        display: block;
        text-decoration: none;

        &-edit {
            font: normal 13px Verdana;
            margin: 0 0 10px;
            text-align: left;
            padding: 10px 40px 10px 20px;
            position: relative;
            text-transform: uppercase;

            &:after {
                content: '';
                display: inline-block;
                background: url(../images/icons.png) no-repeat -21px 0;
                width: 16px;
                height: 20px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
                right: 20px;
            }
        }
    }
}