.header-logo {
    float: left;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.terms-of-use-temporary-wrapper {
    p, h2 {
        color: white;
    }
}
