.icon {
    border: 0;
    background: none;

    &:before {
        content: '';
        display: inline-block;
        background-image: url(../images/icons.png);
        background-repeat: no-repeat;

        .icon-logout & {
            background-position: 0 0;
            width: 20px;
            height: 20px;
        }
    }

    &-plus {
        &:before {
            background-position: 0 -20px;
            width: 19px;
            height: 20px;
            margin-top: -9px;
            top: 50%;
            left: -28px;
        }
    }

    &-delete {
        margin-left: 17px;

        &:before {
            content: '-';
            background-image: none;
            width: 16px;
            height: 16px;
            line-height: 10px;
            vertical-align: middle;
            margin-top: -8px;
            top: 50%;
            right: 9px;
            border: 2px solid $light-blue;
            @include border-radius(50%);
            @include font-franklin(16px);
        }
    }

    &-back {
        margin-left: 12px;

        &:before {
            background-position: -38px 0;
            height: 13px;
            width: 8px;
            margin-top: -7px;
            top: 50%;
            right: 5px;
        }
    }

    &-cancel {
        position: relative;
        margin-right: 15px;

        &:before {
            content: '';
            display: inline-block;
            background: url(../images/icons.png) -34px -27px no-repeat;
            font-size: 50px;
            height: 12px;
            width: 12px;
            margin-right: 5px;
            position: absolute;
            margin-top: -6px;
            top: 50%;
        }
    }

    &-trash {
        width: 20px;
        height: 20px;

        @include media('<=desktop') {
            margin-bottom: 30px;
        }

        &:before {
            background-position: -26px -61px;
            width: 20px;
            height: 20px;
            left: 0;
            top: 0;
        }

        &:hover {
            opacity: .7;
        }

        &-active {
            &:before {
                background-position: -26px -82px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &-add {
        padding-left: 27px;

        &:before {
            background-position: 0 -77px;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            position: absolute;
            left: 0;
            top: 50%;
        }

        &:hover:before {
            background-position: 0 -99px;
        }

        &-red {
            color: $red;

            &:before {
                background-position: -26px -164px;
            }

            &:hover,
            &:focus {
                color: $red;
                opacity: .7;

                &:before {
                    background-position: -26px -164px;
                }
            }
        }

        &-disabled {
            color: $gray;
            opacity: .7;

            &:before {
                background-position: 0 -204px;
            }

            &:hover,
            &:focus {
                color: $gray;
                opacity: .7;

                &:before {
                    background-position: 0 -204px;
                }
            }
        }
    }

    &-certificate {

        &:before {
            background-position: 0 -164px;
            width: 18px;
            height: 20px;
            margin-top: -10px;
            position: absolute;
            left: 0;
            top: 50%;
        }

        &-title {

            &:before {
                background-position: 0 -126px;
                width: 35px;
                height: 36px;
                margin-top: -18px;
                position: absolute;
                left: 0;
                top: 50%;
            }
        }
    }

    &-levels {
        padding-left: 60px;

        &:before {
            background: url(../images/icons-accomplishments.png) 0 0 no-repeat;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }

    &-steps {
        padding-left: 64px;

        &:before {
            background: url(../images/icons-accomplishments.png) -94px -104px no-repeat;
            width: 44px;
            height: 36px;
            margin-top: -18px;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }

    &-level-clock {
        position: relative;

        &:before {
            background-position: 0 -226px;
            width: 21px;
            height: 21px;
            position: absolute;
            top: -1px;
            left: -31px;
        }
    }

    &-level-check {
        position: relative;
        color: #9b9b99;

        &:before {
            background-position: 0 -249px;
            width: 21px;
            height: 21px;
            position: absolute;
            top: -1px;
            left: -31px;
        }
    }

    &-level-done {

        &:before {
            background: url(../images/icons-accomplishments.png) -40px -40px no-repeat;
            width: 32px;
            height: 32px;
            margin-left: -16px;
            position: absolute;
            left: 50%;
            top: 0;
        }
    }

    &-level-expect {

        &:before {
            background: url(../images/icons-accomplishments.png) -71px -71px no-repeat;
            width: 23px;
            height: 33px;
            margin-left: -16px;
            position: absolute;
            left: 50%;
            top: 0;
        }
    }

    &-step-done {
        padding-left: 25px;

        &:before {
            background: url(../images/icons-accomplishments.png) -138px -140px no-repeat;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }

    &-step-expect {
        padding-left: 25px;

        &:before {
            background: url(../images/icons-accomplishments.png) -158px -160px no-repeat;
            width: 15px;
            height: 21px;
            margin-top: -10px;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }
}
