$version: 1;

//colors
$accent-color: #3EA800;
$error: #DE3E3E;
$white: #fff;

$note-blue: #e8f1f7;
$light-blue: #639ec8;
$hover-blue: #5589ad;
$dark-blue: #316e9e;
$blue: #003e74;
$red: #af292e;
$light-red: #bf5458;
$sand: #d6d3cc;
$green: #5b9a5d;

$dark-gray: #363636;
$gray: #595855;
$smoky: #737373;
$light-gray: #898989;
$ultra-gray: #d6d3cc;
$page: #f7f6f5;
$page-gray: #f9f9f8;