﻿@using STS.Application.Models.Admin
@model CompanyViewModel

<input asp-for="Id" type="hidden" />

<div class="row edit-form-block">
    <div class="col-sm-6 form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="error"></span>
    </div>
    <div class="col-sm-6">
        <a href="javascript:void(0);" class="note lead-note readonly" target="_blank">Please enter the company's legal name.</a>
    </div>
</div>

<div class="row edit-form-block">
    <div class="col-sm-6 form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="error"></span>
    </div>
    <div class="col-sm-6 form-group">
        <label asp-for="AddressSecond"></label>
        <input asp-for="AddressSecond" class="form-control" />
        <span asp-validation-for="AddressSecond" class="error"></span>
    </div>
</div>

<div class="row edit-form-block">
    <div class="col-sm-3 form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="error"></span>
    </div>
    <div class="col-sm-3 form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="error"></span>
    </div>
    <div class="col-sm-3 form-group">
        <label asp-for="Zip"></label>
        <input id="Zip" asp-for="Zip" class="form-control" type="text" />
        <span asp-validation-for="Zip" class="error"></span>
    </div>
</div>

<div class="row edit-form-block">
    <div class="col-sm-6 form-group">
        <label asp-for="Site"></label>
        <input asp-for="Site" class="form-control" />
        <span asp-validation-for="Site" class="error"></span>
    </div>
</div>

<div class="row edit-form-block">
    <div class="col-sm-6 form-group">
        <label asp-for="AnnualProcurementBudget">Annual Procurement Budget *</label>
        <input id="AnnualProcurementBudget" name="@Html.NameFor(x => x.AnnualProcurementBudget)"
               class="form-control" type="text" maxlength="19" value="@Model.AnnualProcurementBudget"
               title="The @Html.DisplayNameFor(x => x.AnnualProcurementBudget) field is required."
               required="required" />
        <span asp-validation-for="AnnualProcurementBudget" class="error"></span>
    </div>
</div>
