﻿@using STS.Application.Models.User
@model UserViewModel

<div class="row edit-form-block">
    <input type="hidden" asp-for="Id" />
    <div class="col-sm-4 form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="error"></span>
    </div>
    <div class="col-sm-4 form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="error"></span>
    </div>
    <div class="col-sm-4 form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="error"></span>
    </div>
</div>
<div class="row edit-form-block">
    <div class="col-sm-4 form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control phone-input" />
        <span asp-validation-for="PhoneNumber" class="error"></span>
    </div>
    <div class="col-sm-4 form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="error"></span>
    </div>
    <div class="col-sm-4 form-group">
        <label asp-for="ConfirmEmail"></label>
        <input asp-for="ConfirmEmail" class="form-control" />
        <span asp-validation-for="ConfirmEmail" class="error"></span>
    </div>
</div>
